{% filter remove_whitespace %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ settings.title }}</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css"/>
    <link rel="stylesheet" media="screen" href="/stylesheets/dark.css"/>
  </head>
  <body>
    <div class="bar top">
	{{ boardlist.top }}
    </div>

    <header>
      <h1>{{ settings.title }}</h1>
      <div class="subtitle">{{ settings.subtitle }}</div>
    </header>

    <img alt="mascot" src="static/lain_is_cute_datass_small.png"/>

    <div class="ban" id="global">
      <h2>GLOBAL</h2>
      <ol start="0">
        <li>Do not upload, post, request, or link to,
        anything that violates local or United States law</li>

        <li>Do not post in or view any boards if you are under 18
        years of age.</li>

        <li>Do not post unspoilered adult content on worksafe boards,
        these being any but /w/ and /l/.</li>

        <li>Do not misuse the report function.</li>

        <li>Feature requests should only be made on /q/.</li>

        <li>Do not spam or advertise.</li>

        <li>Impersonation of lainchan administrators, moderators, or
        janitors is not allowed.</li>

        <li>Do not post from proxies, VPNs, or Tor exit nodes and do
        not use bots of any kind to automate posting to lainchan.</li>

        <li>Do not post GETs. (unless it's a really good one like 6 digits+)</li>

        <li>Don't be a dick. Don't bait intentionally.</li>

        <li>Do not embed malicious files into uploads</li>

	<li>Make use of the catalog or you could get your duplicate thread deleted.</li>
      </ol>
    </div>

    <div class="ban" id="tech">
      <h2>/tech/</h2>
      <ol start="0">
        <li>You will treat every anon like a gentleman. You will
        assume every anon has a reason for how and why they spend
        their money. In the real world, you don't insult people when you have a discussion.</li>

        <li>Meta talk, including comparing /tech/ to /g/, belongs on
        /q/, not /tech/. Violations will be deleted.</li>

        <li>This board primarily discusses the technology itself
        underlying consumer products. OS/Browser wars will
        be deleted.</li>
        
	<li>These rules
        <span style="text-decoration:line-through">might</span>
        will change.</li>
      </ol>
    </div>

    <div class="ban" id="lambda">
      <h2>/&#955;/</h2>
      <ol start="0">
	<li>"Which language should i learn" outside of the beginner general is not allowed. This includes "how do I become a programmer".</li>
        <li> No "religious wars"; keep it rational. It's why we're here and not elsewhere. DO NOT reply to bait threads.</li>
        <li>Electronics threads are for /diy/.</li>
        <li>There should always be a beginner general; check the catalog before you make a new one.</li>
        <li>We ALWAYS need contributors to our board software, located at <a href="https://github.com/lainchan/lainchan/">https://github.com/lainchan/lainchan/</a></li>
      </ol>
    </div>
  </body>
</html>
{% endfilter %}
