{% filter remove_whitespace %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ settings.title }}</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css"/>
    <link rel="stylesheet" media="screen" href="/stylesheets/dark.css"/>
	{% if config.font_awesome %}<link rel="stylesheet" href="{{ config.root }}{{ config.font_awesome_css }}">{% endif %}
  </head>
  <body>
    <div class="bar top">{{ boardlist.top }}</div>

    <header>
      <h1>{{ settings.title }}</h1>
      <div class="subtitle">{{ settings.subtitle }}</div>
    </header>

    <img alt="mascot" src="/static/lain_is_cute_datass_small.png"/>

    <div class="ban">
      <h2>Thanks for donating</h2>
      <p>The server costs $55 per month. If you buy stickers we get about 45-55% of whatever you spend. I have to pay my phone bill to keep two-factor authentication working thats $45 (I pay this myself if im not homeless for the month). I just purchased a few lainchan related domains with whatever BTC we had. $50 or so of donations needs to go to darkengine soon to reimburse him for stickers. I have to pay the bill for my Macbook too sometimes. I want to spend a bunch of donation money on a bulk order of stickers and give em away as prizes or just spam shit in the city. FOOFDOOF is the top donator, hes given us like almost $1000. Sometimes I spend the donation money on food when i'm starving. I transfer all donations into, and keep them as cash.

        </p>
<p> The most secure and private way to donate is probably to send cash in the mail to me, but this option is only available to select people until I set up a PO box or something.</p>

        <p>https://www.stickermule.com/marketplace/tags/lainchan</p>

       <p> Localbitcoins.com is a good place to buy BTC. You can donate BTC to this address: 18CshTkxW6HRFoBhXo9mLJcjkReMmjvuq9</p>
        <img src="https://www.lainchan.org/static/btc.jpg" alt="buttcoin qr">

      <p> The absolute fastest way for me to receive and process the money is with a Credit/Debit/Prepaid card via paypal here:</p>

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="95LE9PHD8P5NU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


    </div>
  </body>
</html>
{% endfilter %}
