{% filter remove_whitespace %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>{{ settings.title }}</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css"/>
    <link rel="stylesheet" media="screen" href="/stylesheets/dark.css"/>
  </head>
  <body>
    <div class="bar top">{{ boardlist.top }}</div>

    <header>
      <h1>{{ settings.title }}</h1>
      <div class="subtitle">{{ settings.subtitle }}</div>
    </header>

    <img alt="mascot" src="/static/lain_is_cute_datass_small.png"/>

    <div class="ban">
      <h2>gibe pls</h2>
      <p>Lainchan costs something to run, $30 per month to be
      exact. Your donations go entirely towards funding lainchan. Here
      are some ways you can help out.</p>

      <p>You can donate via paypal here:</p>

      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin-bottom: 0;">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="VJDX3C5R2LMC8">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safe, easier way to pay online!" style="position: relative; left: 7px;">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

      <p>Or, you can donate BTC
      to <code>19ibcphZdSNEANBSawNNQmzCa3eoybxLUA</code>.</p>
    </div>
  </body>
</html>
{% endfilter %}
