# static html and json
/*/*.html
/*/*.json
/*/res
/*/src
/*/thumb
/*/config.php
/*.html

# include some files though
!/templates/*.html
!/inc/config.php

# minify
/inc/lib/minify

# instance-config
/inc/instance-config.php

# .installed
/.installed

# script file
/main.js

# templates cache
/templates/cache

# other stuff
.DS_Store
.htaccess
thumbs.db
Icon?
Thumbs.db
*.patch
*.diff
*.rej
*.orig
*~

#vichan custom
favicon.ico
/static/spoiler.png
