{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>{{ settings.title }}</title>
	<link rel="stylesheet" media="screen" href="{{ config.root}}stylesheets/style.css"/>
	<link rel="stylesheet" media="screen" href="{{ config.root}}stylesheets/recent.css"/>
	<link rel="stylesheet" media="screen" href="https://lainchan.org/stylesheets/font-awesome/css/font-awesome.min.css"/>

	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}" />{% endif %}
</head>
<body>
	<div class="bar top">
		{{ boardlist.top }}
	</div>

	<header>
		<center>
			<img alt="header" src="static/lainchan_header_console.gif"/>
		</center>
	</header>
<br>

    <img alt="mascot" src="static/lain_banner1.png"/>

 <br>

     <div class="ban" id="global">      <h2>CYBERPUNK IS DEAD</h2>  Pour out the Soykaf, lurk, and read the <a href="https://lainchan.org/rules">rules</a> before posting!    </div> 

    <br>

	<div class="ban" id="global">
		<div class="box left">
			<h2>Recent Images</h2>
			<ul>
				{% for post in recent_images %}
					<li>
						<a href="{{ post.link }}">
							<img src="{{ post.src }}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="">
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="box right">
			<h2>Latest Posts</h2>
			<ul>
				{% for post in recent_posts %}
					<li>
						<strong>{{ post.board_name }}</strong>: 
						<a href="{{ post.link }}">
							{{ post.snippet }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="box right">
			<h2>Stats</h2>
			<ul>
				<li>Total posts: {{ stats.total_posts }}</li>
				<li>Unique posters: {{ stats.unique_posters }}</li>
				<li>Active content: {{ stats.active_content|filesize }}</li>
			</ul>
		</div>
	</div>

	<footer>
        <center>
        	<a href="mailto:admin@lainchan.org?Subject=Hello" target="_top">admin@lainchan.org</a>
        </center>

	</footer>
</body>
</html>
{% endfilter %}
