{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>{{ settings.title }}</title>
	<link rel="stylesheet" media="screen" href="{{ config.root}}stylesheets/style.css"/>
	<link rel="stylesheet" media="screen" href="{{ config.root}}stylesheets/recent.css"/>
	<link rel="stylesheet" media="screen" href="https://lainchan.org/stylesheets/font-awesome/css/font-awesome.min.css"/>

	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}" />{% endif %}
	{% if config.font_awesome %}<link rel="stylesheet" href="{{ config.root }}{{ config.font_awesome_css }}">{% endif %}
	{% include 'header.html' %}
</head>
<body>
	<div class="bar top">
		{{ boardlist.top }}
	</div>

	<header>
		<center>
			<img alt="header" class="lain_banner" src="static/lainchan_header_console.gif"/>
		</center>
	</header>
<br>

		<center>
    <img alt="mascot" class="lain_banner"src="static/lain_banner1.png"/>
		</center>

 <br>

     <div class="ban" id="global2">      <h2>CYBERPUNK IS DUCK</h2>  Pour out the Soykaf, lurk, and read the <a href="https://lainchan.org/rules">rules</a> before posting!    </div> 
	<center>    <img alt="mascot" class="lain_banner" src="static/duck.png"></center>
    <br>
     <div class="ban" id="global3">   
			<h2>Latest News</h2>
		{% if recent_news|default([])|length == 0 %}
			<p style="text-align:center" class="unimportant">(No news to show.)</p>
		{% else %}
			{% for entry in recent_news %}
				<h4 id="{{ entry.id }}">
					{% if entry.subject %}
						{{ entry.subject }}
					{% else %}
						<em>no subject</em>
					{% endif %}
					<span class="unimportant"> &mdash; by {{ entry.name }} at {{ entry.time|date(config.post_date, config.timezone) }}</span>
				</h4>
				<p>{{ entry.body }}</p>
			{% endfor %}
		{% endif %}
		</div>
	<div class="ban" id="global">
		<div class="box left">
			<h2>Recent Images</h2>
			<ul>
				{% for post in recent_images %}
					<li>
						<a href="{{ post.link }}">
							<img src="{{ post.src }}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="">
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="box right">
			<h2>Latest Posts</h2>
			<ul>
				{% for post in recent_posts %}
					<li>
						<strong>{{ post.board_name }}</strong>: 
						<a href="{{ post.link }}">
							{{ post.snippet }}
						</a>
					</li>
				{% endfor %}
			</ul>
	</div>
		</div>
		<div class="box right">
			<h2>Stats</h2>
			<ul>
				<li>Total posts: {{ stats.total_posts }}</li>
				<li>Unique posters: {{ stats.unique_posters }}</li>
				<li>Active content: {{ stats.active_content|filesize }}</li>
			</ul>
		</div>
	</div>
	<div class="footer">
	<footer>
        <center>
        	<a href="mailto:admin@lainchan.org?Subject=Hello" target="_top">admin@lainchan.org</a>
        </center>

	</footer>
	</div>
</body>
</html>
{% endfilter %}
