{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" media="screen" href="/stylesheets/style.css">
	<meta charset="utf-8">
	{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<script type='text/javascript'>
		var active_page = "news";
	</script>
    <title>{{ settings.title }}</title>
	{% include 'header.html' %}
</head>
<body class="8chan vichan {% if mod %}is-moderator{% else %}is-not-moderator{% endif %}" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
	<div class="bar top">
		{{ boardlist.top }}
	</div>
	<header>
		<h1 class="glitch" data-text="{{ settings.title }}"> {{ settings.title }}</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>
	<center>
    <img src="static/lain_is_cute_datass_small_teal.png" alt="mascot"/>
	</center>
	<div class="ban">
		{% if news|count == 0 %}
			<p style="text-align:center" class="unimportant">(No news to show.)</p>
		{% else %}
			{% for entry in news %}
				<h2 id="{{ entry.id }}">
					{% if entry.subject %}
						{{ entry.subject }}
					{% else %}
						<em>no subject</em>
					{% endif %}
					<span class="unimportant"> &mdash; by {{ entry.name }} at {{ entry.time|date(config.post_date, config.timezone) }}</span>
				</h2>
				<p>{{ entry.body }}</p>
			{% endfor %}
		{% endif %}
	</div>
	
	<hr/>
        <footer>
                <p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard + 
                        <a href="https://engine.vichan.net/">vichan</a> {{ config.version }} -
                <br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group    
                <br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2016 vichan-devel</p>
        </footer>
	<div class="pages"></div>
	<script type="text/javascript">{% raw %}
		ready();
	{% endraw %}</script>
</body>
</html>
{% endfilter %}
