div.ban {
	max-width: 1200px;
	min-width: 348px;
	width: 85%;
}
div.ban .wrap {
	margin: 10px;
	overflow: auto;
}
div.board {
	width: 100%;
	overflow: auto;
	margin: 10px 0;
}
div.board p {
	text-align: justify;
}
div.board a.button {
	text-align: center;
	font-weight: bold;
	font-size: 15pt;
	height: 60px;
	width: 75px;
	display: inline-block;
	background: #98E;
	line-height: 60px;
	
	margin: 5px 25px;
	
	box-shadow:0 2px 5px 0px #D0D0D0;
	-webkit-box-shadow:0 2px 5px 0px #D0D0D0;
	
	border-radius:15px;
	-webkit-border-radius:15px;
	float: left;
}
div.board a.button:hover {
	box-shadow:0 2px 5px 0px #222;
	-webkit-box-shadow:0 2px 5px 0px #222;
}
img:hover {
	box-shadow:0 2px 5px 0px #555;
	-webkit-box-shadow:0 2px 5px 0px #555;
}
div.container {
	margin: auto;
	max-width: 1000px;
}
div.split {
	margin-top: 40px;
	overflow: auto;
	border: 1px solid #ccc;
	border-style: solid none none none;
}
div.panel {
	margin: 0;
	
	float: left;
	width: 40%;
}
div.panel h3 {
	margin: 10px 0;
}
div.panel.left {
	min-width: 150px;
	max-width: 400px;
	padding: 10px 0;
}
div.panel.left ul {
	padding: 5px;
	margin: 0;
	word-wrap: break-word;
}
div.panel.right {
	border: 1px solid #ccc;
	border-style: none none none solid;
	min-width: 175px;
	max-width: 50%;
	width: 100%;
	padding: 10px 0;
}
div.panel.right ul, div.panel.right p, div.panel.right h3 {
	padding: 5px 10px;
}
div.panel.right ul {
	padding: 0 25px;
}
div.panel.right ul li {
	margin: 10px 0;
}
div.panel.left ul li {
	list-style: none;
}
div.panel.left .images {
	float: left;
	max-width: 80px;
	margin: 10px 20px 0px 0px;
}
div.panel.left .images a, div.panel.left .images img {
	padding: 0;
	margin: 2px 3px;
	display: inline;
}
div.panel.left .images img {
	float: none;
}
div.panel.right ul ul li {
	margin: 2px 0;
}