{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<script type='text/javascript'>
		active_page = "catalog";
	</script>
	{% include 'header.html' %}
	<title>{{ settings.title }}</title>
</head>
<body class="theme-catalog">
	{{ boardlist.top }}
	<header>
		<h1>{{ settings.title }} (<a href="{{link}}">/{{ board }}/</a>)</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>

        <ul style="display: none">
                <li id="sort-bump-order" class="sort" data-sort="data-bump" data-order="asc">{% trans 'Bump order' %}</li>
                <li id="sort-creation-date" class="sort" data-sort="data-time" data-order="asc">{% trans 'Creation date' %}</li>
                <li id="sort-reply-count" class="sort" data-sort="data-reply" data-order="asc">{% trans 'Reply count' %}</li>
                <li id="sort-random" class="sort" data-sort="random">{% trans 'Random' %}</li>
        </ul>
 
        <span>{% trans 'Sort by' %}: </span>
        <select id="sort_by" style="display: inline-block">
                <option selected value="bump-order">{% trans 'Bump order' %}</option>
                <option value="creation-date">{% trans 'Creation date' %}</option>
                <option value="reply-count">{% trans 'Reply count' %}</option>
                <option value="random">{% trans 'Random' %}</option>
        </select>
 
        <span>{% trans 'Image size' %}: </span>
        <select id="image_size" style="display: inline-block">
                <option value="vsmall">{% trans 'Very small' %}</option>
                <option selected value="small">{% trans 'Small' %}</option>
                <option value="large">{% trans 'Large' %}</option>
        </select>
        <div class="threads">
                <ul id="Grid">
                {% for post in recent_posts %}
                        <li class="mix"
				data-reply="{{ post.reply_count }}"
				data-bump="{{ post.bump }}"
				data-time="{{ post.time }}"
			>
                                <div class="thread grid-li grid-size-small">  
                                        <a href="{{post.link}}">  
						{% if post.youtube %}
							<img src="http://img.youtube.com/vi/{{ post.youtube }}/0.jpg" 
						{% else %}
							<img src="{{post.file}}" 
						{% endif %}
                                                 id="img-{{ post.id }}" data-subject="{% if post.subject %}{{ post.subject }}{% endif %}" data-name="{{ post.name }}" data-muhdifference="{{ post.muhdifference }}" data-last-reply="{% if post.last_reply %}{{ post.last_reply }}{% endif %}" data-last-subject="{% if post.last_reply_subject %}{{ post.last_reply_subject }}{% endif %}" data-last-name="{% if post.last_reply %}{{ post.last_reply_name }}{% endif %}" data-last-difference="{% if post.last_reply %}{{ post.last_reply_difference }}{% endif %}" class="{{post.board}} thread-image" title="{{post.bump|date('%b %d %H:%M')}}">
                                        </a>
                                        <p>
                                                <span class="replies">
                                                        <strong>R: {{ post.reply_count }} / I: {{ post.image_count }}</strong><br/>
                                                        {{ post.body }}
                                                </span>
                                        </p>
                                </div>
                        </li>
                {% endfor %}
                </ul>
        </div>
	
	<hr/>
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">- <a href="http://tinyboard.org/">Tinyboard</a> + 
			<a href='https://int.vichan.net/devel/'>vichan</a> {{ config.version }} -
		<br><a href="http://tinyboard.org/">Tinyboard</a> Copyright &copy; 2010-2014 Tinyboard Development Group    
		<br><a href="https://int.vichan.net/devel/">vichan</a> Copyright &copy; 2012-2014 vichan-devel</p>
	</footer>
        <script type="text/javascript">
                ready();
        </script>
</body>
</html>
{% endfilter %}
