{% filter remove_whitespace %}
<!DOCTYPE html>
<html style="height:100vh; width:100%;">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ settings.title }}</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" media="screen" href="/stylesheets/style.css"/>
    <link rel="stylesheet" media="screen" href="/stylesheets/cyberpunk.css"/>
	<link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
<script src="https://lainchan.org/js/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
        check_status();
        setInterval(check_status, 15000);
});

function check_status(){  
$.get("{{ settings.radiostatus }}", function(data){    
var el = $( '<div></div>' );   
el.html(data.getElementsByTagName('html')[0].innerHTML);   
 var sd = el.find(".streamstats");   
 $(".nowplaying").text("Now playing: " + sd[5].textContent);   
 $(".currentlisteners").text("Current listeners: " + (parseInt(sd[2].textContent) + parseInt(sd[8].textContent))); 
});}
</script>
  </head>
  <body style=" background: url(/bg.php) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  ">
    <div class="bar top">
      {{ boardlist.top }}
	</div>

	{% if config.url_banner %}<img class="board_image" src="{{ config.url_banner }}" {% if config.banner_width or config.banner_height %}style="{% if config.banner_width %}width:{{ config.banner_width }}px{% endif %};{% if config.banner_width %}height:{{ config.banner_height }}px{% endif %}" {% endif %}alt="" />{% endif %}
    <header>
      <h1>{{ settings.title }}</h1>
      <div class="subtitle">{{ settings.subtitle }}</div>
    </header>

    <img alt="mascot" src="static/lain_is_cute_datass_small.png" style="display: block; margin: 0 auto;"/>

    <div class="ban" style="margin-top: 0px!important; background-color: black; text-align: left!important;">
      <h2>WELCOME TO CYBERIA</h2>

      <p>Welcome to lainchan's radio stream. 
      </p>
      <noscript><p>Radio statistics will be not be updated without JavaScript, please visit {{ settings.radiostatus }} to see them directly.</p></noscript>
      
      <p class="nowplaying"> Now playing: 
      </p>
      <p class="currentlisteners"> Current listeners: 
      </p>

      <ul>

        <li><a href="{{ settings.radiooggplaylist }}">Vorbis M3U Playlist</a></li>
        <li><a href="{{ settings.radiomp3playlist }}">MP3 M3U Playlist</a></li>

		XSPF considered harmful.
      </ul>

      <audio controls preload="none" style="margin: 0 5% 20px 5%; width: 90%; box-shadow: 0px 0px 5px black;">
	  	<source src="{{ settings.radiooggsource }}" type="audio/ogg">
		<source src="{{ settings.radiomp3source }}" type="audio/mpeg">
        <em>Your browser lacks support for OGG Vorbis files. Please open the M3U file or XSPF file in a multimedia player.</em>
     </audio>
    </div>
  </body>
</html>
{% endfilter %}
