[data-board] > .files > :nth-child(1):not(.multifile) > a:before {
	content: url('/static/partyhat.gif');
	float: left;
	display: block;
	margin-right: -160px;
	position: relative;
	top: -120px;
	left: -30px;
	
}
[data-board] > .files > :nth-child(1).multifile > a:before {
	content: url('/static/partyhat.gif');
	float: left;
	display: block;
	margin-right: -160px;
	position: relative;
	top: -120px;
	left: -50px;
	
}

