img {
	float:none!important;
	margin: auto;
	margin-bottom: 12px;
	/*max-height: 150px;
	max-width: 200px;*/
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.55);
	border: 2px solid rgba(153, 153, 153, 0);
}

/*
img:hover {
	border: 2px solid rgba(153, 153, 153, 0.27);
}
*/

div.threads{
	text-align: center;
	margin-left: -20px;
}

div.thread {
	position: relative;
	vertical-align: top;
	display: inline-block;
	overflow:hidden;
  margin:2px;
	padding: 2px;
	height:300px;
	width:205px;
	font-size:11px;
	font-weight:normal;
	text-align:center;
	background: rgba(182, 182, 182, 0.12);
	border: 2px solid rgba(111, 111, 111, 0.34);
}

div.threads:hover {
  background: #D6DAF0;
  border-color: #B7C5D9;
}

div.grid-size-small {
	width: 200px;
	max-width: 200px;
	max-height: 350px;
}

div.grid-size-large {
	width: 300px;
	max-width: 300px;
	max-height: 450px;
}

img.thread-image {
	height: auto;
	max-width: 100%;
}

@media (max-width: 420px) {
	ul#Grid {
		padding-left: 18px;
	}
	div.thread {
		width: auto;
		margin-left: 0;
		margin-right: 0;

	}
	div.threads {
		overflow: hidden;
	}
}