@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("lainchan.org") {

    body {
        background-image: none !important; 
        background-color: #222 !important;
        color: #333 !important;
        font-family: "Liberation Sans" ,arial,helvetica,sans-serif !important;
    }
    
    div.pagelist {
        background-color: #222 !important;
        color: #333 !important;
        border: none !important;
    }
    
    .posteruid, 
    .dateTime,
     div.post div.file div.fileInfo,
     div.pagelist strong,
     div#absbot {        
        color: #333 !important; 
    }
    
    table.postForm > tbody > tr > td:first-child {
        color: #555 !important;
        background-color: #333 !important;
        border-color: #242424 !important;   
    }
    
    table.postForm > tbody input[type="text"], 
    input[type="password"], 
    table.postForm > tbody textarea {
            color: #888 !important;
            background-color: #333 !important;
            border-color: #242424 !important;
    }
    
    td.replyhl{
        color: #555 !important;
        background-color: #333 !important;
        border-color: #242424 !important;
    }
    
    .reply, 
    hr{
        border-color: #242424 !important;
    }
    
    .reply{
        color: #555 !important;
        background-color: #242424 !important;
    }
    
    .replytitle, 
    .filetitle{
        color: #8B3A3A !important;
    }
    
    a.quotejs:active, 
    a.quotejs:link, 
    .doubledash{
        color: #555 !important;
    }
    
    blockquote {
        color: #9E9E9E !important;   
    }
    
    blockquote span {
        background-color: #5B5678 !important;
        color: #A4A987 !important;   
    }
      
    
    .postertrip,
    .subject,
    div.boardBanner > div.boardTitle {
        color: #567861 !important;
    }
      
    .postername, 
    .commentpostername, 
    .name {
        color: #566E78 !important;
    }
    
    a, 
    a.quotelink {
        color: #7E949E !important;
    }
    
    .postblock, 
    .pages, 
    th{
        background: #333 !important;
        color: #566E78 !important;
        border: #333 !important;
    }

    th font{
        color: #222 !important;
    }
    
    .pages{
        background: #242424 !important;
        color: #566E78 !important;
        border: #242424 !important;
    }
    
    .pages td{
        color: #333 !important;
    }
    
    .pages td b {
       color: #8B3A3A !important;
    }

    .unkfunc {
        color: #6E7856 !important;
    }
    
    .logo {
        color: #566E78 !important;
    }
    img {
        opacity: 0.1 !important;
    }

    img:hover {
        opacity: 1 !important;
    }
    
    .logo img {
        border: 0px !important;
    }
    
    form a img {
        opacity: 0.3 !important;
   }
   
    form a img:hover {
        opacity: 1 !important;
    }
    
    .recaptcha_image_cell center img {
         opacity: 0.4 !important;
    }
    
    .recaptcha_image_cell center img:hover {
         opacity: 1 !important;
    }
    
    #recaptcha_image {
        border: 1px solid #555 !important;
    }
      
   #header,  
   #navbot, 
   #navbotr,
   div#boardNavDesktop {
        color: #555 !important;
    } 
    
    .inputtext, 
    #recaptcha_response_field {
        background-color: #333 !important;
        color: #9E9E9E !important;
        border-color: #333 !important;
    }
    
    input {
        background-color: #333333 !important;
        border-color: #333 !important;
        opacity: 0.5 !important;
    }

    .omittedposts {
        color: #333 !important;
    }
    
    .abbr,
    div.postingMode {
       background-color: #242424 !important;
       color: #555 !important;
       border-color: #242424 !important;
    }

    .atn,
    .atv,
    .com,
    .kwd,
    .lit,
    .prettyprint, 
    .pun,
    .pln, 
    .str,
    .tag,
    .typ {
       background-color: #262626 !important;
    }
    
    .atn { color: #e7f6da !important; }
    .atv { color: #e7f6da !important; }
    .com { color: #99968b !important; }
    .kwd { color: #9F9357 !important; }
    .lit { color: #73B041 !important; }
    .pun { color: #D0CEC4 !important; } 
    .pln { color: #C0655B !important; } 
    .str { color: #73B041 !important; }
    .tag { color: #6794B5 !important; }
    .typ { color: #64B27A !important; }
}
