/*
 * dark.css
 * For AwsumChan by Circlepuller
 */
body {
	background: #1E1E1E;
	color: #999999;
	font-family: sans-serif;
	font-size: 12px;
}
.quote {
    color:#B8D962;
}


@font-face {
  font-family: 'lain';
  src: url('./fonts/nrdyyh.woff') format('woff'),
       url('./fonts/tojcxo.TTF') format('truetype');
}
h1 
{
	font-family: 'lain', tahoma;
	letter-spacing: -2px;
	font-size: 20pt;
	text-align: center;
	color: #32DD72;
}
div.title, h1 {
	color: #32DD72;
	
}
div.title p {
	font-size: 10px;
}
a:link, a:visited, .intro a.email span.name {
	color: #CCCCCC;
	text-decoration: none;
	font-family: sans-serif;
}
a:link:hover, a:visited:hover {
	color: #fff;
	font-family: sans-serif;
	text-decoration: none;

}
a.post_no {
	color: #AAAAAA;
	text-decoration: none;
}
a.post_no:hover {
	color: #32DD72 !important;
	text-decoration: underline overline;
}
div.post.reply {
	background: #333333;
	border: #555555 1px solid;



}
div.post.reply.highlighted {
	background: #555;
	border: transparent 1px solid;
}
div.post.reply div.body a:link, div.post.reply div.body a:visited {
	color: #CCCCCC;
}
div.post.reply div.body a:link:hover, div.post.reply div.body a:visited:hover {
	color: #32DD72;
}
.intro span.subject {
	font-size: 12px;
	font-family: sans-serif;
	color: #446655;
	font-weight: 800;
}
.intro span.name {
	color: #32DD72;
	font-weight: 800;
}
.intro a.capcode, p.intro a.nametag {
	color: magenta;
	margin-left: 0;
}
.intro a.email, p.intro a.email span.name, p.intro a.email:hover, p.intro a.email:hover span.name {
	color: #32ddaf;
}
input[type="text"], textarea, select {
	background: #333333;
	color: #CCCCCC;
	border: #666666 1px solid;
	padding-left: 5px;
	padding-right: -5px;
	font-family: sans-serif;
	font-size: 10pt;
}
input[type="password"] {
	background: #333333;
	color: #CCCCCC;
	border: #666666 1px solid;
}
form table tr th {
	background: #333333;
	color: #AAAAAA;
	font-weight: 800;
	text-align: left;
	padding: 0;
}
div.banner {
	background: #32DD72;
	color: #000;
	text-align: center;
	width: 250px;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}
div.banner a {
    color:#000;
}
input[type="submit"] {
	background: #333333;
	border: #888888 1px solid;
	color: #CCCCCC;
}
input[type="submit"]:hover {
	background: #555555;
	border: #888888 1px solid;
	color: #32DD72;
}
input[type="text"]:focus {
    border:#aaa 1px solid;
}
p.fileinfo a:hover {
	text-decoration: underline;
}
span.trip {
	color: #AAAAAA;
}
div.pages {
	
	background: #1E1E1E; 
	
	font-family: sans-serif;
	
}
.bar.bottom {
    bottom: 0px;
    border-top: 1px solid #333333;
    background-color: #1E1E1E;
}
div.pages a.selected {
	color: #CCCCCC;
}
hr {
	height: 1px;
	border: #333333 1px solid;
}
div.boardlist {
	text-align: center;
	color: #999999;
}

div.ban {
	background-color: transparent;
	border: transparent 0px solid;
}
div.ban h2 {
	background: transparent;
	color: lime;
	font-size: 12px;
}
table.modlog tr th {
	background: #333333;
	color: #AAAAAA;
}

div.boardlist:not(.bottom) {
 background-color: #1E1E1E;

}

.desktop-style div.boardlist:not(.bottom) {
 position:static; 
 text-shadow: black 1px 1px 1px, black -1px -1px 1px, black -1px 1px 1px, black 1px -1px 1px;
 color: #999999;
 background-color: #1E1E1E;
}




div.report {
	color: #666666;
}

/* options.js */
#options_div, #alert_div {
	background: #333333;
}
.options_tab_icon {
	color: #AAAAAA;
}
.options_tab_icon.active {
	color: #FFFFFF;
}

#quick-reply table {
	background: none repeat scroll 0% 0% #333 !important;
}

.modlog tr:nth-child(even), .modlog th {
	background-color: #282A2E;
}



.box {
	background: #333333;
	border-color: #555555;
	color: #C5C8C6;
	border-radius: 10px;
}
.box-title {
	background: transparent;
	color: #32DD72;
}

table thead th {
	background: #333333;
	border-color: #555555;
	color: #C5C8C6;
	border-radius: 4px;
}
table tbody tr:nth-of-type( even ) {
	background-color: #333333;
}

table.board-list-table .board-uri .board-sfw {
	color: #CCCCCC;
}
tbody.board-list-omitted td {
	background: #333333;
	border-color: #555555;
}

table.board-list-table .board-tags .board-cell:hover {
	background: #1e1e1e;
}
table.board-list-table tr:nth-of-type( even ) .board-tags .board-cell {
	background: #333333;
}

/* Post editing style */
.edit_history {
  color: #000;
  padding: 5px;
}