html, body
{
	height: 90%!important;
}
div.ban 
{
	width: 80%!important;
	max-width: 80%!important;
	height: 100%!important;
}
iframe
{
	border: none!important;
	width: 100%!important;	
	height: calc(100% - 24px)!important;
}	
