body {
	margin: 0px!important;
}

.box-wrap {
        max-width: 670px;
        min-width: 332px;
        overflow: auto;
        margin: 0px auto;
        padding: 0;
}
.box {
        border: 1px dashed #98E;
        width: 330px;
        margin: 8px 0;
        padding: 0;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
}
.box ul {
        padding: 2px 15px;
}
.box ul li {
        list-style: none;
        margin: 0;
    	color: #32DD72;
}
.left li {
	text-align: center;
}
.left li img {
	display: block;
	max-height: 300px;
	max-width: 300px;
}
.box.left {
        color: #999;
		border: #555 1px solid;
        float: left;
}
.box.right {
        color: #999;
        border: #555 1px solid;
        float: right;
}
 
.box h2 {
        padding: 3px 7px;
        font-size: 12pt;
        border-bottom: #555555 1px solid;
        background: #333333;
		color: #32DD72;
}
.box img {
        float: none;
        margin: 10px auto;
}
.box:nth-child(3){
	margin-top: -2px;
	position: relative;
	right: 0px;	
}
