/*cyberpunk mod of ferus by kalyx

B332E6 = dark purp
293728 = teal 
59B451 = green
FF46D2 = pink
dark blue = 293728
*/

body {
	background: #0B110A;
	color: #62C958;
	font-family: DejaVuSansMono;
	font-size: 10px;
	/*text-shadow: 0px 0px 3px #FF46D2;*/
}
@font-face 
{
  font-family: 'lain';
  src: url('./fonts/nrdyyh.woff') format('woff'),
       url('./fonts/tojcxo.TTF') format('truetype');
   }
 @font-face 
{
  font-family: 'DejaVuSansMono';
  src: url('./fonts/DejaVuSansMono.ttf') format('truetype');
}
h1 {
	 font-family: DejaVuSansMono, Arial;
	font-size: 18pt;
	text-align: center;
	letter-spacing: 0px;
}
div.title, h1 {
	color: #4CADA7;
	font-family: lain, DejaVuSansMono, sans-serif;
}
header div.subtitle {
color: #59B451;
text-align: center;
	text-shadow: 0px 0px 3px #59B451;
}
div.title p {
	font-size: 13px;
}
a:link, a:visited, p.intro a.email span.name {
	color: #4CADA7;
/*text-shadow: 0px 0px 10px #59B451;*/
	font-family: DejaVuSansMono;
}
pre.prettyprint {
background: #293728;

font-size: 12px;
line-height: 1.5;
border: 1px solid #293728;
padding: 10px;
}

a:link, a:visited, p.intro a.email span.name
{
        -moz-transition: 0.15s text-shadow, 0.15s color;
	-webkit-transition: 0.15s text-shadow, 0.15s color;
	-khtml-transition: 0.15s text-shadow, 0.15s color;
	-o-transition: 0.15s text-shadow, 0.15s color;
	-ms-transition: 0.15s text-shadow, 0.15s color;
	transition: 0.15s text-shadow, 0.15s color;
}
input[type="text"], textarea 
{
	-moz-transition: 0.15s border-color;
	-webkit-transition: 0.15s border-color;
	-khtml-transition: 0.15s border-color;
	-o-transition: 0.15s border-color;
	-ms-transition: 0.15s border-color;
	transition: 0.15s border-color;
}
input[type="submit"] 
{
	-moz-transition: 0.15s border-color, 0.15s background-color, 0.15s color;
	-webkit-transition: 0.15s border-color, 0.15s background-color, 0.15s color;
	-khtml-transition: 0.15s border-color, 0.15s background-color, 0.15s color;
	-o-transition: 0.15s border-color, 0.15s background-color, 0.15s color;
	-ms-transition: 0.15s border-color, 0.15s background-color, 0.15s color;
	transition: 0.15s border-color, 0.15s background-color, 0.15s color;
}


a:link:hover, a:visited:hover {
	color: #59B451;
	font-family: DejaVuSansMono;
	text-shadow: 0px 0px 5px #59B451;
}
strong {

color: #4CADA7;
}
a.post_no {
	color: #293728;
	text-decoration: none;
}
span.quote 
{
    color:#59B451;
}
a.post_no:hover {
	color: maroon;
	/*text-decoration: underline overline;*/
}
div.post.reply {
	background: #131C13;
	border: #293728 1px solid !important;
	border-radius: 0px;
}
.de-pview {
		background: rgba(14, 14, 14, 0.84) !important;
}
div.post.reply.highlighted {
	background: transparent;
	border: #293728 1px solid;
}
div.post.reply div.body a:link, div.post.reply div.body a:visited {
	color: #646464;
}
div.post.reply div.body a:link:hover, div.post.reply div.body a:visited:hover {
	color: #59B451;
}
p.intro span.subject {
	font-size: 12px;
	font-family: DejaVuSansMono;
	color: #59B451;
	font-weight: 800;
		text-shadow: 0px 0px 3px #59B451;
}
p.intro span.name {
	color: #59B451;
	font-weight: 900;
		text-shadow: 0px 0px 3px #59B451;
}
p.intro a.capcode, p.intro a.nametag {
	color: #59B451;
	margin-left: 0;
}
p.intro a.email, p.intro a.email span.name, p.intro a.email:hover, p.intro a.email:hover span.name {
	color: #59B451;
	font-family: DejaVuSansMono;
}
input[type="text"], textarea, select {
	background: #0B110A;
	color: #CCCCCC;
	border: #293728 1px solid;
	padding-left: 5px;
	padding-right: -5px;
	font-family: DejaVuSansMono;
	font-size: 10pt;
		border-radius: 5px;
}
input[type="password"] {
	background: #0B110A;
	color: #CCCCCC;
	border: #293728 1px solid;
		border-radius: 5px;
}
form table tr th {
	background: #0B110A;
	color: #59B451;
	border: #293728 1px solid;
	font-weight: 600;
	text-align: center;
	padding: 0;
		border-radius: 0px;
			/*text-shadow: 0px 0px 3px #59B451;*/
}
div.sidearrows{display:none;}

div.banner {
	background: #0B110A;
	color: #59B451;
	text-align: center;
	width: 250px;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
		text-shadow: 0px 0px 3px #59B451;

}
input[type="submit"] {
	background: #0B110A;
	color: #59B451;
	border: #293728 1px solid;
		border-radius: 0px;
}
input[type="submit"]:hover {
	background: #0B110A;

	border: #293728 1px solid;

	color: #FF46D2;
		border-radius: 0px;
}
p.fileinfo a:hover {
	text-decoration: underline;
}
span.trip {
	color: #AAAAAA;
}
.topbar {
	background-color: #0B110A;
	border-bottom: 1px solid #293728;
}
div.pages {
	color: #AAAAAA;
	background: #0B110A;
	border: #293728 1px solid;
	font-family: DejaVuSansMono;
	font-size: 10pt;
}
div.pages a.selected {
	color: #8C8C8C;
}
hr {
	height: 0px;
	border: #293728 1px solid;
}
div.boardlist {
	font-size: 10pt;
	color: #999999;
}
div.ban {
	background-color: transparent;
	border: #293728 1px solid;
}
div.ban h2 {
	background: transparent;
	color: #59B451;
	font-size: 11px;
		text-shadow: 0px 0px 3px #59B451;
}
table.modlog tr th {
	background: #FF46D2;
	color: #AAAAAA;
		/*text-shadow: 0px 0px 3px #59B451;*/
}
