body {
        font-size:10pt;
        background:#EDDAD2;
        color:#000000;
}
* {
        font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
        font-size: 10pt;
}
input, textarea {
        background-color: #E6CBC0;
        border: 1px solid #CA927B;
}
a {
        color:#34345C;
}
a:visited {
        color:#34345C;
}
a:hover {
        color:#DD0000;
}
a.quotelink {
        color:#DD0000;
}
div.post.reply.highlighted{
        background:#CA927B
}
form table tr th {
        background: #D9AF9E;
        border: 1px solid #CA927B;
        padding: 2px 5px 2px 5px;
}
div.banner {
        background: #D9AF9E;
        border: 1px solid #CA927B;
        color: black;
        font-weight: bold;
        padding: 2px 5px 2px 5px;
}
div.post.reply{
        padding: 2px 5px 2px 5px;
	background:#D9AF9E;
	color:#000000;
	border:1px solid #CA927B;
}
.bar
{
        background:#EDDAD2;
        color:#000000;
}
.desktop-style div.boardlist:not(.bottom) {
        font-size:10pt;
        background:#EDDAD2;
        color:#000000;
}
h1.glitch a{
        font-size: 24pt;
        color: #AF0A0F;
        font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}
h1.glitch {
        font-size: 24pt;
        color: #AF0A0F;
        font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}
hr {
	border-top: 1px solid #000000;;
}
#options_div {
        background: #D9AF9E;
        border: 2px solid #CA927B;
}
#options_tablist {
	border: 1px solid #CA927B;
}
div.module, div.ban {
        background: #D9AF9E;
        border: 1px solid #CA927B;
}
div.ban h2 {
        background: #CA927B;
}
.fc td, .fc th {
        background: #CA927B;
}
.hljs, .hljs-subst {
        background: #EDDAD2;
        border: 1px solid #CA927B;
}
