html, body {
        font-size:10pt;
        background:#EDDAD2;
        color: #800;
}
* {
        font-family: Tahoma, Verdana, Arial, sans-serif;
        font-size: 10pt;
}
input, textarea {
        background-color: #E6CBC0;
        border: 1px solid #CA927B;
}

a, a:visited{
	color: #AF0A0F;
}


a:hover {
	color: #D00;
}

a.quotelink {
        color:#DD0000;
}
div.post.reply.highlighted{
        background:#CA927B
}
form table tr th {
        background: #D9AF9E;
        border: 1px solid #CA927B;
        padding: 2px 5px 2px 5px;
}
div.banner{
        background: #D9AF9E;
        border: 1px solid #CA927B;
        color: black;
        font-weight: bold;
        padding: 2px 5px 2px 5px;
}
div.banner a{
        color: black;
}
div.post.reply{
        padding: 2px 5px 2px 5px;
	background:#E6CBC0;
	color:#000000;
	border:1px solid #D9AF9E;
}
div.post.reply div.body a{
       color: #AF0A0F;
}

.bar
{
       background:#D9AF9E;
       color:#800;
}

.bar a {
        color:#800;
}

.bar.bottom {
    border-top: 1px solid #CA927B;
}

.desktop-style div.boardlist:not(.bottom) {
        font-size:10pt;
        background:#D9AF9E;
        color:#000000;
}
h1.glitch a{
        font-size: 24pt;
        color: #AF0A0F;
        font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}
h1.glitch {
        font-size: 24pt;
        color: #AF0A0F;
        font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}
hr {
        border-top: 1px dotted #D9AF9E;
}
#options_div {
        background: #D9AF9E;
        border: 2px solid #CA927B;
}
#options_tablist {
	border: 1px solid #CA927B;
}
div.module, div.ban {
        background: #D9AF9E;
        border: 1px solid #CA927B;
}
div.ban h2 {
        background: #CA927B;
}
.fc td, .fc th {
        background: #CA927B;
}
.hljs, .hljs-subst {
        background: #EDDAD2;
        border: 1px solid #CA927B;
}

.intro a.email:hover{
    color: #D00;
}

.intro a.email span.name {
    color: #AF0A0F;
}

.intro span.name {
    color: #AF0A0F;
}

.options_tab_icon{
    color: #AF0A0F;
}




NEW NEW NEW

html, body, div.banner, div.post.reply, div.banner a, textarea {
    color: #800;
}

div.post.reply {
    color: #800;
}


.quote {
    color: #866;
}


.intro span.subject {
    color: #800;
}


a.selected:nth-child(1) {
        color:#800;
}

.desktop-style div.boardlist:not(.bottom), .desktop-style div.boardlist:not(.bottom) a {
    font-size: 10pt;
    color:#800;
 border-bottom: 1px solid #CA927B;
}
   


div.pages input{
    background:#D9AF9E;
    color:#800;
}

div.pages a.selected{
    color:#800;
}

div.post.reply.highlighted{
        background:#D9AF9E
}

#quick-reply th {
    border: 1px solid #D9AF9E;
}
