/**
 * heavy_ice.css
 * by kalyx
 *stole some shit from monoelain thnx
 */

body
{
	display:block;
	padding-top: 26px;
	background: #0d1010;
	color: #d2e7e8;
	font-family: sans-serif;
	font-size: 13px;


	max-width: 568px;
}
div.boardlist{
	background-color: #000!important;

}
html {
	/* Size of largest container or bigger */
	  background:#0d1010;
		max-width: 568px;
		margin-left: auto;
  	margin-right: auto;

		}
/*banner*/
.board_image{
		border: double 0px #d2e7e8;
		box-shadow: 2px 2px #d2e7e8;
}

    /*gives images border/shadow*/
    div.files img.post-image {
		border: solid 1px #d2e7e8;
		box-shadow: 2px 2px #d2e7e8;
        padding: 0px;
        border-radius: 0;
        margin-bottom: 5px;
	}
div.sidearrows{
		display: none;
}

span.quote
{
    color:#e8d928;
}
@font-face
{
  font-family: 'lain';
  src: url('./fonts/nrdyyh.woff') format('woff'),
       url('./fonts/tojcxo.TTF') format('truetype');
}
h1
{
	display: none;
	font-family: 'lain', tahoma;

	letter-spacing: -2px;
	font-size: 42px;
	text-align: center;
	color: #d2e7e8;

}
header div.subtitle
{
	display: none;
    color: #d2e7e8;
		font-size: 13px;
		   margin-left: auto;
  margin-right: auto;
	max-width:385px;
}
div.title
{
	display: none;
	color: #e8d928;
	font-family: Arial, Helvetica, sans-serif;

}
div.title p
{
	font-size: 8px;
	color: #e8d928;
}
a:link, a:visited, p.intro a.email span.name
{
	color: #d2e7e8;
	text-transform: uppercase;
	font-size: 10px;
	text-decoration: none;
	font-family: sans-serif;
}
a:link, a:visited, p.intro a.email span.name
{
        -moz-transition: 0.15s text-shadow, 0.15s color;
	-webkit-transition: 0.15s text-shadow, 0.15s color;
	-khtml-transition: 0.15s text-shadow, 0.15s color;
	-o-transition: 0.15s text-shadow, 0.15s color;
	-ms-transition: 0.15s text-shadow, 0.15s color;
	transition: 0.15s text-shadow, 0.15s color;
}
input[type="text"], textarea
{
	-moz-transition: 0.15s border-color;
	-webkit-transition: 0.15s border-color;
	-khtml-transition: 0.15s border-color;
	-o-transition: 0.15s border-color;
	-ms-transition: 0.15s border-color;
	transition: 0.15s border-color;
}
input[type="submit"]
{
	-moz-transition: 0.15s border-color, 0.15s background-color, 0.15s color;
	-webkit-transition: 0.15s border-color, 0.15s background-color, 0.15s color;
	-khtml-transition: 0.15s border-color, 0.15s background-color, 0.15s color;
	-o-transition: 0.15s border-color, 0.15s background-color, 0.15s color;
	-ms-transition: 0.15s border-color, 0.15s background-color, 0.15s color;
	transition: 0.15s border-color, 0.15s background-color, 0.15s color;
}
a:link:hover, a:visited:hover
{
	color: #e8d928;
	font-family: sans-serif;
	text-decoration: none;
	text-shadow: 0px 0px 5px #d2e7e8;
}
a.post_no
{
	color: #e8d928;
	text-decoration: none;
}
p.intro a.post_no:hover
{
        color: #e8d928!important;
}
div.post.reply
{
	background: #0d1010;
	align: center;
	max-width:96% !important;
		min-width: 96%!important;
border: solid  1px #d2e7e8;
box-shadow: 2px 2px #d2e7e8;


}

div.postcontainer
{
	max-width:100% !important;
		min-width: 100%!important;

}
div.post.reply.highlighted
{
	background: #1e2324;
	border: solid 1px #93e0e3;
        box-shadow: 3px 5px #5c8c8e;
		   margin-left: auto;
  margin-right: auto;
}
div.post.reply div.body a:link, div.post.reply div.body a:visited
{
	color: #CCCCCC;

}
div.post.reply div.body a:link:hover, div.post.reply div.body a:visited:hover
{
	color: #e8d928;

}
p.intro span.subject
{
	font-size: 12px;
	font-family: sans-serif;
	color: #e8d928;
	font-weight: 800;

}
p.intro span.name
{
	color: #d2e7e8;
	font-weight: 800;
}
p.intro a.capcode, p.intro a.nametag
{
	color: magenta;
	margin-left: 0;
}
p.intro a.email, p.intro a.email span.name, p.intro a.email:hover, p.intro a.email:hover span.name
{
	color: #d2e7e8;

}
input[type="text"], textarea, select
{
	background: #0d1010!important;
	color: #CCCCCC!important;
border: solid  1px #d2e7e8;
box-shadow: 1px 1px #0d1010;
			   margin-left: auto;
  margin-right: auto;


}
input[type="password"]
{
	background: #0d1010!important;
	color: #CCCCCC!important;
	border: #d2e7e8 1px double!important;
}
form table tr th
{
	background: #0d1010!important;
	color: #d2e7e8!important;
	border: solid  1px #d2e7e8;
box-shadow: 1px 1px #0d1010;
	text-align: right;

}
div.banner
{

	background: #E04000;
	border: 0px solid hsl(17, 100%, 60%);
	color: #EEE;
	text-align: center;
	height: 15px;
	padding: 1px 1px 4px 1px;
	margin-left: auto;
	margin-right: auto;
}
div.banner a
{
    color:#000;
}
input[type="submit"]
{
	background: #000!important;
	border: #666 1px solid;
	color: #CCCCCC;
}
input[type="submit"]:hover
{
	background: #555;
	border: #888 1px solid;
	color: #e8d928;
}
input[type="text"]:focus, textarea:focus
{
    border:#888 1px solid!important;
}
p.fileinfo a:hover
{
	text-decoration: underline;
}
span.trip
{
	color: #AAA;
}
.bar
{
	background: #0c0c0c!important;
	-moz-box-shadow: 0 0 0px #000;
	-webkit-box-shadow: 0 0 0px #000;




}
.bar.top
{
	border: solid  1px #d2e7e8;
box-shadow: 0px 1px #d2e7e8;

}
.bar.bottom
{
	border-top: 0px solid #666;
	border: solid  1px #d2e7e8;
	background-color: #000!important;


}
div.pages
{
	color: #d2e7e8 ;
	background-color: #000!important;
	border: #666 0px solid;
	font-family: sans-serif;
	font-size: 10px;
}
div.pages a.selected
{
	color: #d2e7e8 ;
}
hr
{
	height: 0px;
	border: #d2e7e8 2px solid;

}
div.boardlist
{
	color: #d2e7e8;
}

div.ban
{
	background-color: #0d1010;
	border: 0px solid #555;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: left!important;
		font-size: 13px;

}
div.ban h2
{
	background: #333;
	color: #d2e7e8;
	padding: 3px 7px;
	font-size: 12px;
	border-bottom: 1px solid #555;
}
div.ban h2:not(:nth-child(1))
{
	border-top: 0px solid #555;
}
table.modlog tr th
{
	background: #333;
	color: #AAA;
}

div.report
{
	color: #666;
}
.pages, .board_image, input, .reply, form table th, textarea, a img, select, .banner
{
        -webkit-border-radius: 2px;
        -khtml-border-radius: 2px;
        -moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
        border-radius: 2px;
}
.blur
{
    filter: blur(20px);
    -webkit-filter: blur(23px);
    -moz-filter: blur(23px);
    -o-filter: blur(23px);
    -ms-filter: blur(23px);
    filter: url(svg/blur.svg#blur);
}

/* options.js */
#options_div
{
       background: #333333;
}
.options_tab_icon
{
       color: #AAAAAA;
}
.options_tab_icon.active
{
       color: #FFFFFF;
}



.blotter
{
	color: #e8d928!important;
}
