/**
 * novo_jungle.css
 * For 55chan adapted from kusaba by sinuca
 */
body {
	font-family: arial,helvetica,sans-serif;
	background: url(img/jungle_bg1.png);
	background-repeat:repeat-x;
	background-position: center top;
	color: #000;
	font-size: 10pt;
	margin: 0;
	padding: 8px;
}

html {
	background-image: url(img/jungle_bg.png);
	background-position: center top;
	background-repeat:repeat;
}

h1 {
	color: #054500;
	font-family: Georgia;
	font-size: 24pt;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

header div.subtitle {
	font-size: 16px;
	color: #000;
	font-weight: bold;
	margin: 1em 0;
}

a, a:visited {
	color: #0000EE;
}

a:hover {
	color: #00990B;
}

div.banner {
	background-color: #054500;
	color: #FFF;
	font-weight: normal;
	font-size: 10pt;
	padding: 2px;
}

form table tr th {
	background: #65AB6B;
	color: #054500;
	border: 1px solid #054500;
	font-size: 10pt;
	padding: 0px 5px;
	line-height: 20px;
	font-weight: 800;
}

form[name="postcontrols"] {
	width: 95%;
	margin: 20px auto;
}

p.intro span.name {
	color: #800000;
	font-weight: 800;
}

p.fileinfo span.unimportant, p.fileinfo a {
	font-size: 12px;
}

div.post.reply {
	border-width: medium 1px 1px medium;
	border-style: none solid solid none;
	border-color: #E5D959 #E5D959;
	border: none;
	padding: 2px;
	border-radius: 5px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
	background-image: url('img/jungle_td.png');
	color: #054500;
}

div.post.reply.post-hover {
	border-width: 1px;
	border-style: none solid solid none;
	border-color: #B7C5D9;
}

div.post.reply div.body a {
	color: #0000EE;
}

div.post.reply div.body a:hover {
	color: #00990B;
}

div.post.reply.highlighted {
	background-image: url('img/jungle_td_dark.png');;
}

p.intro a.email span.name {
	color: #0000EE;
}

p.intro a.email:hover span.name {
	color: #00990B;
}

div.pages {
	background: transparent;
	border: 2px;
	border-style: groove;
	color: #000000;
}

hr {
	border: 0px;
}

div.boardlist {
	color: rgb(44, 89, 34);
}

div.boardlist a {
	text-decoration: none;
	padding: 0.2em 0.1em;
	color: rgb(44, 89, 34);;
}

div.boardlist a:hover {
	color: #00990B;
}

div#playerW {
	display: none!important;
}

img.board_image {
	border:0px;
}