/**
* volafile.css fuck you
color change by kalyx
*/
@import url("/stylesheets/dark.css");
@font-face 
{
  font-family: "DejaVuSansMono";
  src: url("/stylesheets/fonts/DejaVuSansMono.ttf") format("truetype");
}

@font-face 
{
  font-family: 'lain';
  src: url('./fonts/nrdyyh.woff') format('woff'),
       url('./fonts/tojcxo.TTF') format('truetype');
}
body 
{
	background: #140f16;
	color: #D794F2;
	font-size: 12px;
}
.bar
{
	background-color: #29202D!important;
	border-color: #29202D!important;
}

div.boardlist:not(.bottom) 
{
	background-color:#29202D!important;
}
.desktop-style div.boardlist:not(.bottom) 
{
	background-color:#140f16;
}

.boardlist
{
	text-shadow: none!important;
}
header h1, header div.subtitle, form table tr th, form table tr td input
{
	color: #D794F2!important;
}
header h1
{
	font-family: "lain",sans-serif;
	font-style: normal;
	font-weight: 400;
	
	font-size: 28px;
	letter-spacing: 0px;
	margin-top: calc(-16px / 3 - 6.5px);
}
p.intro span.subject {
color: #32BFAB;
}
div.topbar, input[type="text"], select, form table tr th, form table tr td input[type="text"], form table tr td textarea, div.post.reply, [type="submit"], input[type="password"], div.pages
{
	background: #29202D!important;
	border-color: #29202D!important;
	color: #D794F2!important;
}

div.post.reply.highlighted{
	background-color: #211A24!important;
}
form table tr td input[type="text"]:focus, form table tr td textarea:focus
{
	border-color: #5E7F9F!important;
}
input[type="submit"][name="post"]
{
	color: #3A4040!important;
	background-color: #29202D!important;
	border-color: #29202D!important;
}
.blotter
{
	color: #00ff00!important;
}
hr {
	border-color: #29202D;
}
a
{
	color: #32BFAB!important;
}

p.intro span.name
{
	color: #D794F2;
}
span.quote {
color: #E6E1E9;
}
a:hover, p.intro a.post_no:hover
{
	color: #EDEDED!important;
	text-shadow: none!important;
}
:not(a) > i.fa
{
	color: #29202D;
}
