@import url(./terminal_common.css);

body, div.title, h1, a:link, a:visited, p.intro a.email span.name,
a:link:hover, a:visited:hover, a.post_no, a.post_no:hover, 
div.post.reply div.body a:link, div.post.reply div.body a:visited, 
div.post.reply div.body a:link:hover, div.post.reply div.body a:visited:hover,
table.modlog tr th, p.intro span.name, p.intro a.capcode, p.intro a.nametag, 
div.pages a.selected, p.intro a.email, p.intro a.email span.name, 
p.intro a.email:hover, p.intro a.email:hover span.name, 
div.boardlist input[type="text"], form table tr td input[type="text"], textarea, select, input[type="password"], 
form table tr th, input[type="submit"], input[type="submit"]:hover, div.pages
{
	color: #8725EC!important;
}

.boardlist, div.blotter, header div.subtitle, h1, span.quote 
{
	color: #A6D2FF!important;
}

p.intro span.subject, span.trip 
{
	color: #8725EC;
}


div.ban h2 {
	color: lime;
}


.bic {
      -moz-filter: url(./svg/blur.svg#blur_purple);
      filter: url(./svg/blur.svg#blur_purple);
      -webkit-filter: url(svg/blur.svg#blur_purple);
}


input[type="text"], textarea, select, input[type="password"], form table tr th, 
input[type="submit"], input[type="submit"]:hover, div.pages, hr, div.ban,
div.post.reply, div.post.reply.highlighted 
{
	border-color: #8725EC;
}

.desktop-style div.boardlist:nth-child(1) {
  border-bottom: #8725EC 1px dashed;
}

