/* +piwnichan style, based on testorange.css from Karachan */

body {
	font-family: sans-serif;
	font-size: 12px;
	color:#bebebe;
	
	background-color: #1e1e1e;
	background-image: url('img/testorange_testo.png'), url('img/testorange_top_bg.gif'), url('img/testorange_bg.gif');
	background-repeat: no-repeat, repeat-x, repeat;
	background-attachment: fixed, scroll, scroll;
	background-position: right bottom, 0% 0%, 0% 0%;
}

a:link, a:visited, div.post.reply div.body a {
	color:#ff9100;
	text-decoration: none;
}
a:link:hover, a:visited:hover, div.post.reply div.body a:hover {
	color:#ffff00;
}

a.email span.name {
	color:#ff9100 !important;

}

input {
	color: #000;
	background: #fff;
}
textarea {
	background: #dedede url('img/testorange_textarea_bg.gif') repeat-x;
}
input, textarea {
	border: 1px #fff solid;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	background: #707070;
	overflow: hidden;
}

.reflink a:hover{
	font-weight: bold;
}
.adminbar {
	text-align:right;
	clear:both;
	float:right;
}
h1 {
	clear:both;
	text-align:center;
	font-size: 2.5em;
	color:#ff9100;
	width:100%;
}
div.title {
	color:#ff9100;
}
div.banner, .replymode, .catalogmode {
	text-align:center;
	margin: 5px 0 5px 0;
	padding: 5px 2px 5px 2px;
	color:#000;
	font-weight: bold;
	width:100%;
}
.postblock, form table th {
	color: #000;
	font-size: 11px;
	font-weight: bold;
	text-align: center !important;
}

.postarea {
}
.rules {
	width: 468px;
	font-size: 10px;
}
.rules li {
	margin-left: 1em;
}
.footer {
	text-align:center;
	font-size:12px;
}
.passvalid {
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background-color: #1e1e1e;
	color: #bebebe;
	padding:0px;
}
.postlists {
	background: #000;
	width:100%;
	padding:0px;
	color: #bebebe;
}
.row1 {
	background-color: #1e1e1e;
	color: #bebebe;
}
.row2 {
	background: #1e1e1e;
	color: #bebebe;
}
.unkfunc {
	background:inherit;
	color:#789922;
}
.filesize {
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color: #bebebe;
	font-weight:800;
}
span.name, .postername {
	color:#fff !important;
	font-weight:bold;
}
span.trip, .postertrip {
	color:#707070;
}
.oldpost {
	color:#CC1105;
	font-weight:800;
}
.omittedposts {
	color:#707070;
}
.reply {
	padding: 5px;
	border: 1px #707070 solid !important;
	background: #282828 !important;
	
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.replyhl {
	background-color: #1e1e1e;
	color: #bebebe;
}
.doubledash {
	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#fff;
	font-weight:800;
}
.commentpostername {
	color: #fff;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color: #bebebe;
}
form table th, div.banner, div.pages, .replymode, .postblock, .passvalid, .catalogmode {
	background: #ff9100 url('img/testorange_f_bg.gif') repeat-x !important;
}
div.pages {
	color: black;
	border: 0;
}

.abbrev {
	color:#707070;
}
.highlight {
	background:#000;
	border: 1px dashed #ff9100;
}

#watchedthreads {
	background-color: #282828 !important;
}

.reflinkpreview {
	background-color: #282828 !important;
}

