/**
* volafile.css fuck you
A sexy css for lainchan.org created by petsu / yuuko based off of volafile.io

feel free to steal it.

*/
@import url("/stylesheets/dark.css");
@font-face 
{
  font-family: "Open Sans Light";
  src: url("/stylesheets/fonts/OpenSans-Light-webfont.eot") format("embedded-opentype"), url("/stylesheets/fonts/OpenSans-Light-webfont.woff") format("woff"), url("/stylesheets/fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("/stylesheets/fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
}
body 
{
	background: #395168;
	color: #E0E0E0;
}
.bar
{
	-moz-box-shadow: 0 0 40px #435D78;	
	-webkit-box-shadow: 0 0 40px #435D78;
	box-shadow: 0 0 40px #435D78;
	background-color: #435D78!important;
	border-color: #486582!important;
}
div.boardlist:not(.bottom) 
{
	background-color:#395168;
}
.desktop-style div.boardlist:not(.bottom) 
{
	background-color:#395168;
}
.boardlist
{
	text-shadow: none!important;
}
header h1, header div.subtitle, form table tr th, form table tr td input
{
	color: #E0E0E0!important;
}
header h1
{
	font-family: "Open Sans Light",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	letter-spacing: 0px;
	margin-top: calc(-16px / 3 - 6.5px);
}

div.topbar, input[type="text"], select, form table tr th, form table tr td input[type="text"], form table tr td textarea, div.post.reply, [type="submit"], input[type="password"], div.pages
{
	background: #435D78!important;
	border-color: #486582!important;
	color: #E0E0E0!important;
}
div.post.reply.highlighted{
	background-color: #486582!important;
}
form table tr td input[type="text"]:focus, form table tr td textarea:focus
{
	border-color: #5E7F9F!important;
}
input[type="submit"][name="post"]
{
	color: #3A4040!important;
	background-color: #DCA1F5!important;
	border-color: #DCA1F5!important;
}
.blotter
{
	color: #DCA1F5!important;
}
hr {
	border-color: #486582;
}
a
{
	color: #D8D8D8!important;
}
p.intro span.subject
{
	color: #13C15F;
}
p.intro span.name
{
	color: #E0E0E0;
}
span[style="color:orange;font-weight:bold"]
{
	color: #D880FC!important;

}
a:hover, p.intro a.post_no:hover
{
	color: #EDEDED!important;
	text-shadow: none!important;
}
:not(a) > i.fa
{
	color: #DCA1F5;
}
