<form action="" method="post">
	
	<table>
		<tr>
			<th>
				{% trans %}Name{% endtrans %}
			</th>
			<td>
				<input type="text" name="name" size="25" maxlength="35" autocomplete="off" value="{{ post.name|e }}" disabled>
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Email{% endtrans %}
			</th>
			<td>
				<input type="text" name="email" size="25" maxlength="40" autocomplete="off" value="{{ post.email|e }}" disabled>
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Subject{% endtrans %}
			</th>
			<td>
				<input style="float:left;" type="text" name="subject" size="25" maxlength="100" autocomplete="off" value="{{ post.subject|e }}" disabled>
				<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="{% trans %}Update{% endtrans %}">
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Comment{% endtrans %}
			</th>
			<td>
				<textarea name="body" id="body" rows="8" cols="35">{{ post.body_nomarkup|e }}</textarea>
			</td>
		</tr>
	</table>
	<input type="hidden" name="password" size="25" maxlength="40" autocomplete="off" value="{{ post.password|e }}">
	<input type="hidden" name="board" size="25" maxlength="40" autocomplete="off" value="{{ post.board|e }}">
	<input type="hidden" name="id" size="25" maxlength="40" autocomplete="off" value="{{ post.id }}">
	<input type="hidden" name="edit" value="on">
</form>
