		<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}">
		{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}">{% endif %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
		{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
		{% if config.default_stylesheet.1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{{ config.uri_stylesheets }}{{ config.default_stylesheet.1 }}">{% endif %}
		{% if config.font_awesome %}<link rel="stylesheet" media="screen" href="{{ config.root }}{{ config.font_awesome_css }}">{% endif %}
		<script type="text/javascript">var configRoot="{{ config.root }}";</script>
		{% if not nojavascript %}
			<script type="text/javascript" src="{{ config.url_javascript }}"></script>
			{% if not config.additional_javascript_compile %}
			{% for javascript in config.additional_javascript %}<script type="text/javascript" src="{{ config.additional_javascript_url }}{{ javascript }}"></script>{% endfor %}
			{% endif %}
		{% endif %}
		{% if config.recaptcha %}<style type="text/css">{% raw %}
			.recaptcha_image_cell {
				background: none !important;
			}
			table.recaptchatable {
				border: none !important;
			}
			#recaptcha_logo, #recaptcha_tagline {
				display: none;
				float: right;
			}
			.recaptchatable a {
				display: block;
			}
		{% endraw %}</style>{% endif %}