<!doctype html>
<html>
<head>
	<meta charset="utf-8">

        <script type="text/javascript">
          {% if config.quick_reply %}
            var new_reply_string = "{{ config.button_reply }}";
          {% endif %}
          {% if not no_post_form %}
            var active_page = "index";
	  {% else %}
            var active_page = "ukko";
          {% endif %}
        </script>

	{% include 'header.html' %}
	<title>{{ board.url }} - {{ board.title|e }}</title>
</head>
<body>	
	{{ boardlist.top }}
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr />{% endif %}
	{% if config.url_banner %}<img class="banner" src="{{ config.url_banner }}" {% if config.banner_width or config.banner_height %}style="{% if config.banner_width %}width:{{ config.banner_width }}px{% endif %};{% if config.banner_width %}height:{{ config.banner_height }}px{% endif %}" {% endif %}alt="" />{% endif %}
	<header>
		<h1>{{ board.url }} - {{ board.title|e }}</h1>
		<div class="subtitle">
			{% if board.subtitle %}
				{% if config.allow_subtitle_html %}
					{{ board.subtitle }}
				{% else %}
					{{ board.subtitle|e }}
				{% endif %}
			{% endif %}
			{% if mod %}<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>{% endif %}
		</div>
	</header>
	
	{% include 'attention_bar.html' %}
	{% if not no_post_form %}
		{% include 'post_form.html' %}
	{% else %}
		{% include 'boardlist.html' %}
	{% endif %}

	{{ config.ad.top }}

	{% if config.global_message %}<hr /><div class="blotter">{{ config.global_message }}</div>{% endif %}
	<hr />
	<form name="postcontrols" action="{{ config.post_url }}" method="post">
	<input type="hidden" name="board" value="{{ board.uri }}" />
	{% if mod %}<input type="hidden" name="mod" value="1" />{% endif %}
	{{ body }}
	{% include 'report_delete.html' %}
	</form>
	<div class="pages">{{ btn.prev }} {% for page in pages %}
		 [<a {% if page.selected %}class="selected"{% endif %}{% if not page.selected %}href="{{ page.link }}"{% endif %}>{{ page.num }}</a>]{% if loop.last %} {% endif %}
	{% endfor %} {{ btn.next }}</div>
	{{ boardlist.bottom }}

	{{ config.ad.bottom }}

	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">Powered by <a href="http://tinyboard.org/">Tinyboard</a> {{ config.version }} | <a href="http://tinyboard.org/">Tinyboard</a> Copyright &copy; 2010-2013 Tinyboard Development Group</p>
		{% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
	</footer>
	<script type="text/javascript">{% raw %}
		ready();
	{% endraw %}</script>
</body>
</html>
