<center>
	{error?<h2>{error}</h2>}
	<form action="" method="post">
	<table style="margin-top:25px;">
		<tr>
			<th>
				Username
			</th>
			<td>
				<input type="text" name="username" size="20" maxlength="30" value="{username}">
			</td>
		</tr>
		<tr>
			<th>
				Password
			</th>
			<td>
				<input type="password" name="password" size="20" maxlength="30" value="">
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<input type="submit" name="login" value="Continue" />
			</td>
	</table>
	</form>
</center>