<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<script type="text/javascript">
		var active_page = "page";
	</script>
	{% include 'header.html' %}
	<title>{{ title }}</title>
</head>
<body class="8chan vichan {% if mod %}is-moderator{% else %}is-not-moderator{% endif %} active-page" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
        {{ boardlist.top }}

	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr>{% endif %}
	<div id="pagewrap">
	<header>
		<h1 class="glitch" data-text="{{ title }}">{{ title }}</h1>
		<div class="subtitle">
			{% if subtitle %}
				{{ subtitle }}
			{% endif %}
			{% if mod and not hide_dashboard_link %}<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>{% endif %}
		</div>
	</header>
	{{ body }}
	<hr>
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">- <a href="http://tinyboard.org/">Tinyboard</a> + 
			<a href='https://int.vichan.net/devel/'>vichan</a> + 
			<a href='https://github.com/lainchan/lainchan'>lainchan</a> {{ config.version }} -
		<br><a href="http://tinyboard.org/">Tinyboard</a> Copyright &copy; 2010-2014 Tinyboard Development Group
		<br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2016 vichan-devel
		<br><a href="https://github.com/lainchan/lainchan">lainchan</a> Copyright &copy; 2014-2017 lainchan Administration</p>

	</footer>
	<div class="pages"></div>
	<script type="text/javascript">{% raw %}
		ready();
	{% endraw %}</script>
	</div>
</body>
</html>
