{% filter remove_whitespace %}
{# tabs and new lines will be ignored #}
<div class="post reply" id="reply_{{ post.id }}">
<p class="intro">
	{% if not index %}<a id="{{ post.id }}" class="post_anchor"></a>{% endif %}
	<input type="checkbox" class="delete" name="delete_{{ post.id }}" id="delete_{{ post.id }}" />
	<label for="delete_{{ post.id }}">
		{% include 'post/subject.html' %}
		{% include 'post/name.html' %}
		{% include 'post/ip.html' %}
		{% include 'post/flag.html' %}
		{% include 'post/time.html' %}
	</label>
	{% include 'post/poster_id.html' %}&nbsp;
	<a class="post_no" id="post_no_{{ post.id }}" onclick="highlightReply({{ post.id }})" href="{% if isnoko50 %}{{ post.link('', config.file_page50) }}{% else %}{{ post.link }}{% endif %}">No.</a>
	<a class="post_no" onclick="citeReply({{ post.id }})" href="{% if isnoko50 %}{{ post.link('q', config.file_page50) }}{% else %}{{ post.link('q') }}{% endif %}">{{ post.id }}</a>
	</p>
	{% if post.embed %}
		{{ post.embed }}
	{% elseif post.file == 'deleted' %}
		<img class="post-image deleted" src="{{ config.image_deleted }}" alt="" />
	{% elseif post.file and post.file %}
		<p class="fileinfo">File: <a href="{{ config.uri_img }}{{ post.file }}">{{ post.file }}</a> <span class="unimportant">
		(
			{% if post.thumb == 'spoiler' %}
				{% trans %}Spoiler Image{% endtrans %}, 
			{% endif %}
			{{ post.filesize|filesize }}
			{% if post.filewidth and post.fileheight %}
				, {{ post.filewidth}}x{{ post.fileheight }}
				{% if config.show_ratio %}
					, {{ post.ratio }}
				{% endif %}
			{% endif %}
			{% if config.show_filename and post.filename %}
				, 
				{% if post.filename|length > config.max_filename_display %}
					<span class="postfilename" title="{{ post.filename|e }}">{{ post.filename|truncate(config.max_filename_display)|bidi_cleanup }}</span>
				{% else %}
					<span class="postfilename">{{ post.filename|e|bidi_cleanup }}</span>
				{% endif %}
			{% endif %}
			{% include "post/image_identification.html" %}
		)
		</span></p>
	{% include "post/image.html" %}
	{% endif %}
	{{ post.postControls }}
	<div class="body">
		{% endfilter %}{% if index %}{{ post.body|truncate_body(post.link) }}{% else %}{{ post.body }}{% endif %}{% filter remove_whitespace %}
		{% if post.modifiers['ban message'] %}
			{{ config.mod.ban_message|sprintf(post.modifiers['ban message']) }}
		{% endif %}
	</div>
</div>
<br/>
{% endfilter %}
