{% filter remove_whitespace %}
{# tabs and new lines will be ignored #}

<div id="thread_{{ post.id }}">

{% if post.embed %}
	{{ post.embed }}
{% elseif post.file == 'deleted' %}
	<img class="post-image deleted" src="{{ config.image_deleted }}" alt="" />
{% elseif post.file and post.file %}
	<p class="fileinfo">{% trans %}File:{% endtrans %} <a href="{{ config.uri_img }}{{ post.file }}">{{ post.file }}</a> <span class="unimportant">
	(
		{% if post.thumb == 'spoiler' %}
			{% trans %}Spoiler Image{% endtrans %}, 
		{% endif %}
		{{ post.filesize|filesize }}
		{% if post.filewidth and post.fileheight %}
			, {{ post.filewidth}}x{{ post.fileheight }}
			{% if config.show_ratio %}
				, {{ post.ratio }}
			{% endif %}
		{% endif %}
		{% if config.show_filename and post.filename %}
			, 
			{% if post.filename|length > config.max_filename_display %}
				<span class="postfilename" title="{{ post.filename|e }}">{{ post.filename|truncate(config.max_filename_display)|bidi_cleanup }}</span>
			{% else %}
				<span class="postfilename">{{ post.filename|e|bidi_cleanup }}</span>
			{% endif %}
		{% endif %}
		{% if post.thumb != 'file' and config.image_identification %}
			, 
			<span class='image_id'>
			 <a href="http://imgops.com/{{ config.domain }}{{ config.uri_img }}{{ post.file }}">io</a>
			{% if post.file|extension == 'jpg' %}
				 <a href="http://regex.info/exif.cgi?url={{ config.domain }}{{ config.uri_img }}{{ post.file }}">e</a>
			{% endif %}
			 <a href="http://www.google.com/searchbyimage?image_url={{ config.domain }}{{ config.uri_img }}{{ post.file }}">g</a>
			 <a href="http://www.tineye.com/search?url={{ config.domain }}{{ config.uri_img }}{{ post.file }}">t</a>
			</span>
		{% endif %}
	)
	</span></p>
<a href="{{ config.uri_img }}{{ post.file }}" target="_blank"{% if post.thumb == 'file' or post.modifiers['is_file'] == '1' %} class="file"{% endif %}>
<img class="post-image" src="
	{% if post.thumb == 'file' %}
		{{ config.root }}
		{% if config.file_icons[post.filename|extension] %}
			{{ config.file_thumb|sprintf(config.file_icons[post.filename|extension]) }}
		{% else %}
			{{ config.file_thumb|sprintf(config.file_icons.default) }}
		{% endif %}
	{% elseif post.thumb == 'spoiler' %}
		{{ config.root }}{{ config.spoiler_image }}
	{% else %}
		{{ config.uri_thumb }}{{ post.thumb }}
	{% endif %}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="" /></a>
{% endif %}
<div class="post op"><p class="intro"{% if not index %} id="{{ post.id }}"{% endif %}>
	<input type="checkbox" class="delete" name="delete_{{ post.id }}" id="delete_{{ post.id }}" />
	<label for="delete_{{ post.id }}">
		{% if post.subject|length > 0 %}
			{# show subject #}
			<span class="subject">{{ post.subject|bidi_cleanup }}</span> 
		{% endif %}
		{% if post.email|length > 0 %}
			{# start email #}
			<a class="email" href="mailto:{{ post.email }}">
		{% endif %}
		{% set capcode = post.capcode|capcode %}
		<span {% if capcode.name %}style="{{ capcode.name }}" {% endif %}class="name">{{ post.name|bidi_cleanup }}</span>
		{% if post.trip|length > 0 %}
			<span {% if capcode.trip %}style="{{ capcode.trip }}" {% endif %}class="trip">{{ post.trip }}</span>
		{% endif %}
		{% if post.email|length > 0 %}
			{# end email #}
			</a>
		{% endif %}
		{% if capcode %}
			{{ capcode.cap }}
		{% endif %}
		{% if post.mod and post.mod|hasPermission(config.mod.show_ip, board.uri) %}
			 [<a class="ip-link" style="margin:0;" href="?/IP/{{ post.ip }}">{{ post.ip }}</a>]
		{% endif %}
		{% if config.display_flags and post.modifiers.flag %}
			 <img class="flag" src="{{ config.uri_flags|sprintf(post.modifiers.flag) }}"
			 	style="{% if post.modifiers['flag style'] %}{{ post.modifiers['flag style'] }}{% else %}{{ config.flag_style }}{% endif %}"
			 {% if post.modifiers['flag alt'] %}alt="{{ post.modifiers['flag alt'] | e('html_attr') }}" title="{{ post.modifiers['flag alt'] | e('html_attr') }}"{% endif %}>
		{% endif %}
		 <time datetime="{{ post.time|date('%Y-%m-%dT%H:%M:%S') }}{{ timezone() }}">{{ post.time|date(config.post_date) }}</time>
	</label>
	{% if config.poster_ids %}
		 ID: {{ post.ip|poster_id(post.id) }}
	{% endif %}
	 <a class="post_no" href="{{ post.link }}">No.</a>
	<a class="post_no"
		{% if not index %}
			 onclick="citeReply({{ post.id }});"
		{% endif %}
		 href="{% if index %}
			{{ post.link('q') }}
		{% else %}
			javascript:void(0);
		{% endif %}">
		{{ post.id }}
	</a>
	{% if post.sticky %}
		{% if config.font_awesome %}
			<i class="icon-pushpin icon"></i>
		{% else %}
			<img class="icon" title="Sticky" src="{{ config.image_sticky }}" alt="Sticky" />
		{% endif %}
	{% endif %}
	{% if post.locked %}
		{% if config.font_awesome %}
			<i class="icon-lock icon"></i>
		{% else %}
			<img class="icon" title="Locked" src="{{ config.image_locked }}" alt="Locked" />
		{% endif %}
	{% endif %}
	{% if post.bumplocked and (config.mod.view_bumplock < 0 or (post.mod and post.mod|hasPermission(config.mod.view_bumplock, board.uri))) %}
		{% if config.font_awesome %}
			<i class="icon-anchor icon"></i>
		{% else %}
			<img class="icon" title="Bumplocked" src="{{ config.image_bumplocked }}" alt="Bumplocked" />
		{% endif %}
	{% endif %}
	{% if index %}
		<a href="{{ post.root }}{{ board.dir }}{{ config.dir.res }}{{ config.file_page|sprintf(post.id) }}">[{% trans %}Reply{% endtrans %}]</a>
	{% endif %}
	{{ post.postControls }}
	</p>
	<div class="body">
		{% endfilter %}{% if index %}{{ post.body|truncate_body(post.link) }}{% else %}{{ post.body }}{% endif %}{% filter remove_whitespace %}
		{% if post.modifiers['ban message'] %}
			{{ config.mod.ban_message|sprintf(post.modifiers['ban message']) }}
		{% endif %}
	</div>
	{% if post.omitted or post.omitted_images %}
		<span class="omitted">
			{% if post.omitted %}
				{% trans %}
					1 post
				{% plural post.omitted %}
					{{ count }} posts
				{% endtrans %}
				{% if post.omitted_images %}
					 {% trans %}and{% endtrans %} 
				{% endif %}
			{% endif %}
			{% if post.omitted_images %}
				{% trans %}
					1 image reply
				{% plural post.omitted_images %}
					{{ count }} image replies
				{% endtrans %}
			{% endif %} {% trans %}omitted. Click reply to view.{% endtrans %}
		</span>
	{% endif %}
{% if not index %}
{% endif %}
</div>{% endfilter %}
{% set hr = post.hr %}
{% for post in post.posts %}
	{% include 'post_reply.html' %}
{% endfor %}
<br class="clear"/>{% if hr %}<hr/>{% endif %}
</div>
