<div class="ban" id="global">
    <h2>GLOBAL RULES</h2>
    <ol start="0">
        <li>Do not post in or view any boards if you are under 18 years of age.</li>
        <li>If you break the rules we will delete your post. Do it repeatedly and you'll be derezzed.</li>
        <li>Do not call for mods, or announce reports in a thread.</li>
        <li>Always argue in good faith and avoid using personal attacks.</li>
        <li>You should always elaborate on your opinions rather than just spilling the soykaf.</li>
        <li>Don't respond with aggression to perceived flames or trolls (or at all.)</li>
        <li>Do not whine and cry about 8chan, "quality", "invasions", "newfags", mods, bans, or kalyx outside of /q/.</li>
        <li>Do not spam or advertise unrelated content.</li>
        <li>Do not post child pornography or questionable 2D/3DCG/3DPG sexual depictions of children. This includes "child models".</li>
        <li>If you must post it, spoiler any NSFW content and make sure it's relevant to the discussion.</li>
        <li>Do not upload malicious archives.</li>
        <li>Read the rules again. <code>/* infinite iteration will fix later */</code></li>
    </ol>
</div>

<div class="ban" id="tips">
    <h2>PRO TIPS FOR MAXIMUM FUN:</h2>
    <ul>
        <li>The mods are not on powertrips, they are friendly and are trying to ensure the quality of lainchan, not belittle your ideas.</li>
        <li>Lainchan is a place to have your voice heard but not a place for you to drown out others' voices.</li>
        <li>Mods usually ask each other for opinions before doing anything. We hate having to ban someone.</li>
        <li> Just relax and try to have fun. Jokes are always welcome.</li>
        <li> Visit a board you've never been to. Try out /random/.</li>
        <li> Max file size is 35 mb.</li>
        <li> PDF, ePub, and webm are supported across the boards.</li>
        <li>We ALWAYS need contributors to our board software, located on <a href="https://github.com/lainchan/lainchan/">github</a></li>
        <li> Dice rolling: posting in the email field with the form "dice XdY+/-Z" will result in X Y-sided dice rolled and summed, with the modifier Z added, the result is displayed at the top of the post body.</li>
        <li> Be smart when posting about potentially illegal activities.</li>
    </ul>
</div>
