<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}" />
	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}" />{% endif %}
	<title>{{ board.url }} - {{ board.name }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}" />{% endif %}
	<link rel="stylesheet" type="text/css" id="stylesheet" href="{{ config.uri_stylesheets }}{{ config.default_stylesheet.1 }}" />
	<script type="text/javascript" src="{{ config.url_javascript }}"></script>
	{% if config.recaptcha %}<style type="text/css">{% raw %}
		.recaptcha_image_cell {
			background: none !important;
		}
		table.recaptchatable {
			border: none !important;
		}
		#recaptcha_logo, #recaptcha_tagline {
			display: none;
			float: right;
		}
		.recaptchatable a {
			display: block;
		}
	{% endraw %}</style>{% endif %}
</head>
<body>
	{{ boardlist.top }}
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr />{% endif %}
	{% if config.url_banner %}<img class="banner" src="{{ config.url_banner }}" {% if config.banner_width or config.banner_height %}style="{% if config.banner_width %}width:{{ config.banner_width }}px{% endif %};{% if config.banner_width %}height:{{ config.banner_height }}px{% endif %}" {% endif %}alt="" />{% endif %}
	<h1>{{ board.url }} - {{ board.name }}</h1>
	<div class="title">{% if board.title %}{{ board.title }}{% endif %}<p>{% if mod %}<a href="?/">Return to dashboard</a>{% endif %}</p></div>
	
	<div class="banner">{% trans %}Posting mode: Reply{% endtrans %} <a rel="directory" class="unimportant" href="{{ return }}">[{% trans %}Return{% endtrans %}]</a></div>
	<form name="post" onsubmit="return dopost(this);" enctype="multipart/form-data" action="{{ config.post_url }}" method="post">
	{{ hidden_inputs }}
	<input type="hidden" name="thread" value="{{ id }}" />
	<input type="hidden" name="board" value="{{ board.uri }}" />
	{% if mod %}<input type="hidden" name="mod" value="1" />{% endif %}
		<table>
			<tr>
				<th>
					{% trans %}Name{% endtrans %}
				</th>
				<td>
					<input type="text" name="name" size="25" maxlength="50" autocomplete="off" />
				</td>
			</tr>
			<tr>
				<th>
					{% trans %}Email{% endtrans %}
				</th>
				<td>
					<input type="text" name="email" size="25" maxlength="40" autocomplete="off" />
				</td>
			</tr>
			<tr>
				<th>
					{% trans %}Subject{% endtrans %}
				</th>
				<td>
					<input style="float:left;" type="text" name="subject" size="25" maxlength="100" autocomplete="off" />
					<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="{{ config.button_reply }}" />{% if config.spoiler_images %} <input id="spoiler" name="spoiler" type="checkbox" /> <label for="spoiler">{% trans %}Spoiler Image{% endtrans %}</label>{% endif %}
				</td>
			</tr>
			<tr>
				<th>
					{% trans %}Comment{% endtrans %}
				</th>
				<td>
					<textarea name="body" id="body" rows="5" cols="30"></textarea>
				</td>
			</tr>
			{% if config.recaptcha %}
			<tr>
				<th>
					{% trans %}Verification{% endtrans %}
				</th>
				<td>
					<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={{ config.recaptcha_public }}"></script>
				</td>
			</tr>
			{% endif %}
			<tr>
				<th>
					{% trans %}File{% endtrans %}
				</th>
				<td>
					<input type="file" name="file" />
				</td>
			</tr>
			{% if config.enable_embedding %}
			<tr>
				<th>
					{% trans %}Embed{% endtrans %}
				</th>
				<td>
					<input type="text" name="embed" size="30" maxlength="120" autocomplete="off" />
				</td>
			</tr>
			{% endif %}
			{% if mod %}
			<tr>
				<th>
					{% trans %}Flags{% endtrans %}
				</th>
				<td>
					<div>
						<label for="raw">{% trans %}Raw HTML{% endtrans %}</label><br />
						<input title="Raw HTML" type="checkbox" name="raw" id="raw" />
					</div>
				</td>
			</tr>
			{% endif %}
			<tr>
				<th>
					{% trans %}Password{% endtrans %}
				</th>
				<td>
					<input type="password" name="password" size="12" maxlength="18" autocomplete="off" /> 
					<span class="unimportant">{% trans %}(For file deletion.){% endtrans %}</span>
				</td>
			</tr>
		</table>
	</form>
	<script type="text/javascript">{% raw %}
		rememberStuff();
	{% endraw %}</script>
	
	{% if config.blotter %}<hr /><div class="blotter">{{ config.blotter }}</div>{% endif %}
	<hr />
	<form name="postcontrols" action="{{ config.post_url }}" method="post">
	<input type="hidden" name="board" value="{{ board.uri }}" />
	{% if mod %}<input type="hidden" name="mod" value="1" />{% endif %}
	{{ body }}
	<div class="delete">
		{% trans %}Delete Post{% endtrans %} [<input title="Delete file only" type="checkbox" name="file" id="delete_file" />
		 <label for="delete_file">{% trans %}File{% endtrans %}</label>] <label for="password">{% trans %}Password{% endtrans %}</label>
			<input id="password" type="password" name="password" size="12" maxlength="18" />
			<input type="submit" name="delete" value="{% trans %}Delete{% endtrans %}" />
	</div>
	<div class="delete" style="clear:both">
		<label for="reason">{% trans %}Reason{% endtrans %}</label>
			<input id="reason" type="text" name="reason" size="20" maxlength="30" />
			<input type="submit" name="report" value="{% trans %}Report{% endtrans %}" />
	</div>
	</form>
	<a rel="directory" href="{{ return }}">[{% trans %}Return{% endtrans %}]</a>

	{{ boardlist.bottom }}
	<p class="unimportant" style="margin-top:20px;text-align:center;">Powered by <a href="http://tinyboard.org/">Tinyboard</a> {{ config.version }} | <a href="http://tinyboard.org/">Tinyboard</a> Copyright &copy; 2010-2011 Tinyboard Development Group</p>
	<p class="unimportant" style="text-align:center;">All trademarks, copyrights, comments, and images on this page are owned by or are the responsibility of their respective parties.</p>
		
</body>
</html>
