<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" media="screen" href="{config[url_stylesheet]}"/>
	{config[url_favicon]?<link rel="shortcut icon" href="{config[url_favicon]}" />}
	<title>{board[url]} - {board[name]}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" id="stylesheet" href="{config[uri_stylesheets]}{config[default_stylesheet][1]}">
	<script type="text/javascript" src="{config[url_javascript]}"></script>
</head>
<body>
	{boardlist[top]}
	{pm?<div class="top_notice">{pm}</div><hr/>}
	{config[url_banner]?<img class="banner" src="{config[url_banner]}" alt="" />}
	<h1>{board[url]} - {board[name]}</h1>
	<div class="title">{board[title]?{board[title]}}<p>{mod?<a href="?/">Return to dashboard</a>}</p></div>
	
	<div class="banner">Posting mode: Reply <a class="unimportant" href="{return}">[Return.]</a></div>
	<form name="post" onsubmit="return dopost(this);" enctype="multipart/form-data" action="{config[post_url]}" method="post">{hidden_inputs}
	<input type="hidden" name="thread" value="{id}" />
	<input type="hidden" name="board" value="{board[uri]}" />
	{mod?<input type="hidden" name="mod" value="1" />}
		<table>
			<tr>
				<th>
					Name
				</th>
				<td>
					<input type="text" name="name" size="25" maxlength="50" autocomplete="off" />
				</td>
			</tr>
			<tr>
				<th>
					Email
				</th>
				<td>
					<input type="text" name="email" size="25" maxlength="40" autocomplete="off" />
				</td>
			</tr>
			<tr>
				<th>
					Subject
				</th>
				<td>
					<input style="float:left;" type="text" name="subject" size="25" maxlength="40" autocomplete="off" />
					<input accesskey="s" style="float:right;" type="submit" name="post" value="{config[button_reply]=New Reply}" />
				</td>
			</tr>
			<tr>
				<th>
					Comment
				</th>
				<td>
					<textarea name="body" id="body" rows="5" cols="30"></textarea>
				</td>
			</tr>
			<tr>
				<th>
					File
				</th>
				<td>
					<input type="file" name="file"/>
				</td>
			</tr>
			{config[enable_embedding]?
			<tr>
				<th>
					Embed
				</th>
				<td>
					<input type="text" name="embed" size="30" maxlength="120" autocomplete="off" />
				</td>
			</tr>
			}
			{mod?
			<tr>
				<th>
					Flags
				</th>
				<td>
					<div>
						<label for="raw">Raw HTML</label><br/>
						<input title="Raw HTML" type="checkbox" name="raw" id="raw">
					</div>
				</td>
			</tr>
			}
			<tr>
				<th>
					Password
				</th>
				<td>
					<input type="password" name="password" size="12" maxlength="18" autocomplete="off" /> 
					<span class="unimportant">(For file deletion.)</span>
				</td>
			</tr>
		</table>
	</form>
	<script type="text/javascript">
		rememberStuff();
	</script>
	{config[blotter]?<hr/><div class="blotter">{config[blotter]}</div>}
	<hr/>
	<form name="postcontrols" action="{config[post_url]}" method="post">
	<input type="hidden" name="board" value="{board[uri]}" />
	{mod?<input type="hidden" name="mod" value="1" />}
	{body}
	<div class="delete">
		Delete Post [<input title="Delete file only" type="checkbox" name="file" id="delete_file"/>
		 <label for="delete_file">File</label>] <label for="password">Password</label>
			<input id="password" type="password" name="password" size="12" maxlength="18" />
			<input type="submit" name="delete" value="Delete" />
	</div>
	<div class="delete" style="clear:both">
		<label for="reason">Reason</label>
			<input id="reason" type="text" name="reason" size="20" maxlength="30" />
			<input type="submit" name="report" value="Report" />
	</div>
	</form>
	<a href="{return}">[Return.]</a>
	{boardlist[bottom]}
	<p class="unimportant" style="margin-top:20px;text-align:center;">Powered by <a href="http://tinyboard.org/">Tinyboard</a> v0.9.2 | <a href="http://tinyboard.org/">Tinyboard</a> Copyright © 2010-2011 Tinyboard Development Group</p>
	<p class="unimportant" style="text-align:center;">All trademarks, copyrights, comments and images on this page are owned by and/or are the responsibility of their respective parties.</p>
</body>
</html>