{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" media="screen" href="/stylesheets/style.css">
	<meta charset="utf-8">
	<title>{{ settings.title }}</title>
	{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<script type='text/javascript'>
		var active_page = "faq";
	</script>
    <title>{{ settings.title }}</title>
	{% include 'header.html' %}
</head>
<body class="8chan vichan {% if mod %}is-moderator{% else %}is-not-moderator{% endif %}" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
	<div class="bar top">
		{{ boardlist.top }}
	</div>
	<header>
		<h1 class="glitch" data-text="{{ settings.title }}"> {{ settings.title }}</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>
    <center><img src="static/lain_is_cute_datass_small_teal.png" alt="mascot"/></center>
	<div class="ban">
				<h2 id="1">
					My question isn't here, What do I do ? 	
				</h2>
				<p>Make a post in /q/ or ask via email or IRC  </p>
				<h2 id="2">
						What are the rules ? 
				</h2>
                <p>Please click <a href="https://lainchan.org/rules">here</a> </p>
				<h2 id="3">
						How do I donate ? 
				</h2>
                <p>Please click <a href="https://lainchan.org/donate">here</a> </p>
				<h2 id="4">
						How does post formatting work ? 
				</h2>
                <p> It is standard vichan post formatting. </p>
                <p> [b] makes it bold  [/b] </p>
                <p> [i] makes it italic [/i]  </p>
                <p> [spoiler]text [/spoiler] makes it spoiler  </p>
                <p> [code]text [/code] makes it code  </p>
		<p> To specify language for the syntax highlighting. Use something like the example below</p>	
		<p>
		[code]</p>
		<p>lisp</p>
		<p>(defun foo ()</p>
		<p>  (if (mapcar (lambda (x) (format t "~a " x)) '(is this not infuriating?)) </p>
		<p>    t </p>
		<p>   nil)) <p>
		<p>[/code]</p>
		<p>Valid languages are listed <a href="http://highlightjs.readthedocs.io/en/latest/css-classes-reference.html#language-names-and-aliases">here</a>.</p>
			<h2 id="5">
				   What is the purpose of Lainchan ?  
                </h2>
                <p> 
                
                Like all questions the answer depends on who you ask.
                </p>
		<p>
		My answer:
                First what lainchan.org is:
                lainchan.org is a domain name, the host that domain name points to  hosts an imageboard called lainchan based on vichan, it hosts a Mumble server, it hosts an audio stream.
                The purpose of lainchan.org the domain name is so you don't have to type an IP address to access the services hosted on the previously mentioned host.
                The purpose of lainchan.org is to be a place / community where people can interact online.
                </p> 
		<p>
		What makes lainchan.org community different from all the other places / communities where people can interact online ?
                This is another good question, and one you haven't asked yet, but I will try to answer anyhow.
                Our main distinguishing factors are related to our appreciation of Lain and Serial Experiments Lain. 
                The series is influenced by themes such as reality, identity, and communication, and it demonstrates them by using philosophy, computer history, cyberpunk literature, and conspiracy theory. (from https://en.wikipedia.org/wiki/Serial_Experiments_Lain)
                <p>
		Most of the boards on the image board reflect aspects or influences of the series.
                Because the series is influenced by cyberpunk literature, it very easy to label the lainchan.org community as just a cyberpunk image board, but I believe that label is incomplete at best and a restriction at worst.
                My answer isn't the only answer, and I happy to see others posting their answer to the same question.
                My question to you which you don't need to answer here.
                The lainchan community is to you what you want it to be. What do you want it to be ?</p>
				<h2 id="6">
				   Why are my posts being changed  / language enhanced ?  
                </h2>
                <p> Lainchan has a language enhancer. It makes your posts more interesting and less like soykaf. </p>
				<h2 id="7">
				   \\|/|-|`/ !5 3\\/3|2`/ 14!|\\|0|\\| |\\|0+ 4 133+ |-|4%%0|2 1!|(3 |\\/|3 ? Why are other lainons not as Leet as me ?  
                </h2>
                <p>Lainons are Lainons, being the same would be boring. Different lainons have different backgrounds and skillsets. Don't give up on lainons before getting to know them. </p>
				<h2 id="8">
				   When I post without a name, I get given a random name ?  
                </h2>
                <p> Lainchan has random anonymous names generated, when no name is provided. </p>
				<h2 id="9">
                    Where did /insertboardnamehere/ board go ?   Where is /cyb/ ? 
                </h2>
                <p> The server was wiped and all the boards  were deleted. Boards are still being restored, the work to recover stuff from backups is ongoing.  </p>
				<h2 id="10">
				   I want to request merchandise   
                </h2>
                <p>See the merchandism thread in /q/ or if there is no such thread, then make a thread in /q/ </p>
				<h2 id="11">
                    Where did my post go ?
                </h2>
                <p>Either you never posted it, or it felt off the board due to old age, or it was deleted by you or by Lainchan staff as a moderation action, typically for breaking the rules.  </p>
				<h2 id="12">
                    Lainchan is lame. insertnamechan is better.
                </h2>
                <p>Either submit your constructive criticism in a /q/ thread, or go back to your favourite chan of choice. </p>
				<h2 id="13">
				   I want to request stickers   
                </h2>
                <p>See the sticker thread in /q/ or if there is no such thread, then make a thread in /q/ </p>
				<h2 id="14">
                    I want to submit a banner to Lainchan
                </h2>
                <p>See the banner thread in /q/ or if there is no such thread, then make a thread in /q/ </p>
				<h2 id="15">
                    What is the procedure for suggesting a new board ?
                </h2>
		<p>Either make a new post on /q/ or post in the existing stickied suggestions thread on /q/.  You should suggest a particular board and stating why you want such a board and its intended purpose, a metric for post quality , a metric for post relevancy and why you think it would be a good board to have in general. </p><p>You should also be posting the sorts of threads you would post in such a new board on /r/, as a way to determine whether the topics covered by your board suggestion are demanded or at least appreciated by the larger community. If the posts in the type of board you suggest don't meet the posting requirements for /r/, then of course it is more appropriate to find another way of demonstrating demand for such a board. </p>
				<h2 id="16">
                    What are the supported file types?
                </h2>
		<ul>
			<li>JPEG Files JPG , JPEG</li>
			<li>BMP Files BMP </li>
			<li>GIF Files GIF </li>
			<li>PNG Files PNG </li>
			<li>SVG Files SVG </li>
			<li>OGG Files OGG </li>
			<li>MP3 Files MP3 </li>
			<li>WEBM Files WEBM (Supports thumbnail) </li>
			<li>PDF Files PDF (Supports thumbnail) </li>
			<li>DJVU  Files DJVU (Supports thumbnail) </li>
			<li>EPUB Files EPUB </li>
			<li>CSV Files CSV </li>
			<li>Text Files TXT (Supports thumbnail) </li>
		</ul>
				<h2 id="17">
                    What are the maximum filesize for attachments ?
                </h2>
		<p>Maximum file size in megabytes for attachments to a single post is 75MB (e.g. 3 * 25MB), as most boards support uploading 3 attachments by default. Maximum file size in pixels for images is currently set to 20000 by 20000. </p>
				<h2 id="18">
                    How do I apply to become staff ?
                </h2>
		<p> Visit the staff application page  <a href="https://lainchan.org/staffapplication.html">here</a> </p>
				<h2 id="19">
                    How do I search for things ?
                </h2>
		<p> Visit the search page  <a href="https://lainchan.org/search.php">here</a> </p>
	</div>
	
	
	<hr/>
        <footer>
                <p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard + 
                        <a href="https://engine.vichan.net/">vichan</a> {{ config.version }} -
                <br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group    
                <br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2016 vichan-devel</p>
        </footer>
	<div class="pages"></div>
	<script type="text/javascript">{% verbatim %}
		ready();
	{% endverbatim %}</script>
</body>
</html>
{% endfilter %}
