	{% if post.embed %}
		{{ post.embed }}
    {% else %}
    <div class="files">
    {% for file in post.files %}
        <div class="file{% if post.num_files > 1 %} multifile" style="width:{{ file.thumbwidth + 40 }}px"{% else %}"{% endif %}>
	{% if file.file == 'deleted' %}
		<img class="post-image deleted" src="{{ config.image_deleted }}" alt="" />
	{% else %}
		<p class="fileinfo">File: <a href="{{ config.uri_img }}{{ file.file }}">{{ file.file }}</a> <span class="unimportant">
		(
			{% if file.thumb == 'spoiler' %}
				{% trans %}Spoiler Image{% endtrans %}, 
			{% endif %}
			{{ file.size|filesize }}
			{% if file.width and file.height %}
				, {{ file.width}}x{{ file.height }}
				{% if config.show_ratio %}
					, {{ ratio(file.width, file.height) }}
				{% endif %}
			{% endif %}
			{% if config.show_filename and file.filename %}
				, 
				{% if file.filename|length > config.max_filename_display %}
					<span class="postfilename" title="{{ file.filename|e|bidi_cleanup }}">{{ file.filename|truncate_filename(config.max_filename_display)|e|bidi_cleanup }}</span>
				{% else %}
					<span class="postfilename">{{ file.filename|e|bidi_cleanup }}</span>
				{% endif %}
			{% endif %}
		)
		{% include "post/image_identification.html" %}
		{% include "post/file_controls.html" %}</span></p>
	{% include "post/image.html" with {'post':file} %}
	{% endif %}
</div>
    {% endfor %}
</div>
    {% endif %}
