{% if new %}
	{% set action = '?/new-board' %}
{% else %}
	{% set action = '?/edit/' ~ board.uri %}
{% endif %}

<form action="{{ action }}" method="post">
	<input type="hidden" name="token" value="{{ token }}">
	<table>
		<tr>
			<th>{% trans 'URI' %}</th>
			<td>
				{% if not new %}
					{{ config.board_abbreviation|sprintf(board.uri) }}
				{% else %}
					/<input size="10" maxlength="255" type="text" name="uri" autocomplete="off">/
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>{% trans 'Title' %}</th>
			<td>
				<input size="25" type="text" name="title" value="{{ board.title|e }}" autocomplete="off">
			</td>
		</tr>
		<tr>
			<th>{% trans 'Subtitle' %}</th>
			<td>
				<input size="25" type="text" name="subtitle" value="{{ board.subtitle|e }}" autocomplete="off">
			</td>
		</tr>
	</table>
	
	<ul style="padding:0;text-align:center;list-style:none">
		{% if new %}
			<li><input type="submit" value="{% trans 'Create board' %}"></li>
		{% else %}
			<li><input type="submit" value="{% trans 'Save changes' %}"></li>
			{% if mod|hasPermission(config.mod.deleteboard) %}
				<li><input name="delete" onclick="return confirm('Are you sure you want to permanently delete this board?');" type="submit" value="{% trans 'Delete board' %}"></li>
			{% endif %}
		{% endif %}
	</ul>
</form>

