<form action="" method="post">
	<input type="hidden" name="token" value="{{ token }}">
	
	<table>
		<tr>
			<th>
				{% trans %}Name{% endtrans %}
			</th>
			<td>
				<input type="text" name="name" size="25" maxlength="35" autocomplete="off" value="{{ post.name }}">
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Email{% endtrans %}
			</th>
			<td>
				<input type="text" name="email" size="25" maxlength="40" autocomplete="off" value="{{ post.email }}">
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Subject{% endtrans %}
			</th>
			<td>
				<input style="float:left;" type="text" name="subject" size="25" maxlength="100" autocomplete="off" value="{{ post.subject }}">
				<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="{% trans %}Update{% endtrans %}">
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Comment{% endtrans %}
			</th>
			<td>
				<textarea name="body" id="body" rows="8" cols="35">{% if raw %}{{ post.body }}{% else %}{{ post.body_nomarkup }}{% endif %}</textarea>
			</td>
		</tr>
	</table>
	<p style="text-align:center">
		{% if raw %}
			{% trans %}Currently editing raw HTML.{% endtrans %} 
			<a href="?/{{ board }}/edit/{{ post.id }}">{% trans %}Edit markup instead?{% endtrans %}</a>
		{% else %}
			<a href="?/{{ board }}/edit_raw/{{ post.id }}">{% trans %}Edit raw HTML instead?{% endtrans %}</a>
		{% endif %}
	</p>
</form>
