<form name="post" enctype="multipart/form-data" action="{{ action }}" method="post">
	<table>
		{% if not config.field_disable_name or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}<tr>
			<th>
				{% trans %}Name{% endtrans %}
			</th>
			<td>
				<input type="text" name="name" size="25" maxlength="35" autocomplete="off">
			</td>
		</tr>{% endif %}
		{% if not config.field_disable_email or (mod and post.mod|hasPermission(config.mod.bypass_field_disable, board.uri)) %}<tr>
			<th>
				{% trans %}Email{% endtrans %}
			</th>
			<td>
				<input type="text" name="email" size="25" maxlength="40" autocomplete="off">
			</td>
		</tr>{% endif %}
		<tr>
			<th>
				{% trans %}Subject{% endtrans %}
			</th>
			<td>
				<input style="float:left;" type="text" name="subject" size="25" maxlength="100" autocomplete="off">
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Comment{% endtrans %}
			</th>
			<td>
				<textarea name="body" id="body" rows="5" cols="35"></textarea>
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Flags{% endtrans %}
			</th>
			<td>
				{% if not id and post.mod|hasPermission(config.mod.sticky, board.uri) %}<div>
					<label for="sticky">{% trans %}Sticky{% endtrans %}</label>
					<input title="{% trans %}Sticky{% endtrans %}" type="checkbox" name="sticky" id="sticky"><br>
				</div>{% endif %}
				{% if not id and post.mod|hasPermission(config.mod.lock, board.uri) %}<div>
					<label for="lock">{% trans %}Lock{% endtrans %}</label><br>
					<input title="{% trans %}Lock{% endtrans %}" type="checkbox" name="lock" id="lock">
				</div>{% endif %}
				{% if post.mod|hasPermission(config.mod.rawhtml, board.uri) %}<div>
					<label for="raw">{% trans %}Raw HTML{% endtrans %}</label><br>
					<input title="{% trans %}Raw HTML{% endtrans %}" type="checkbox" name="raw" id="raw">
				</div>{% endif %}
			</td>
		</tr>
	</table>
</form>
