<table class="modlog">
	<tr>
		<th>{% trans 'Staff' %}</th>
		<th>{% trans 'IP address' %}</th>
		<th>{% trans 'Time' %}</th>
		<th>{% trans 'Board' %}</th>
		<th>{% trans 'Action' %}</th>
	</tr>
	{% for log in logs %}
		<tr>
			<td class="minimal">
				{% if log.username %}
					<a href="?/log:{{ log.username|e }}">{{ log.username|e }}</a>
				{% elseif log.mod == -1 %}
					<em>system</em>
				{% else %}
					<em>{% trans 'deleted?' %}</em>
				{% endif %}
			</td>
			<td class="minimal">
				{% if mod|hasPermission(config.mod.show_ip_modlog) %}
					<a href="?/IP/{{ log.ip }}">{{ log.ip }}</a>
				{% else %}
					<em>hidden</em>
				{% endif %}
			</td>
			<td class="minimal">
				<span title="{{ log.time|date(config.post_date) }}">{{ log.time|ago }}</span>
			</td>
			<td class="minimal">
				{% if log.board %}
					<a href="?/{{ config.board_path|sprintf(log.board) }}{{ config.file_index }}">{{ config.board_abbreviation|sprintf(log.board) }}</a>
				{% else %}
					-
				{% endif %}
			</td>
			<td>
				{{ log.text }}
			</td>
		</tr>
	{% endfor %}
</table>

{% if count > logs|count %}
	<p class="unimportant" style="text-align:center;word-wrap:break-word">
		{% for i in range(0, (count - 1) / config.mod.modlog_page) %}
			<a href="?/log{% if username %}:{{ username }}{% endif %}/{{ i + 1 }}">[{{ i + 1 }}]</a> 
		{% endfor %}
	</p>
{% endif %}

