<form action="?/{{ board }}/move/{{ post }}" method="post">
	<input type="hidden" name="token" value="{{ token }}">
	<table>
		<tr>
			<th>
				{% trans 'Thread ID' %}
			</th>
			<td>
				&gt;&gt;&gt;{{ config.board_abbreviation|sprintf(board) }}{{ post }}
			</td>
		</tr>
		<tr>
			<th>
				{% trans 'Leave shadow thread' %}
			</th>
			<td>
				<input type="checkbox" name="shadow" checked> 
				<span class="unimportant">({% trans 'locks thread; replies to it with a link.' %})</span>
				</td>
		</tr>
		<tr>
			<th>{% trans 'Target board' %}</th>
			<td>
				<ul style="list-style:none;padding:0">
					{% for targetboard in boards if targetboard.uri != board %}
						<li>
							<input type="radio" name="board" value="{{ targetboard.uri }}" id="ban-board-{{ targetboard.uri }}" {% if boards|count == 2 %}checked{% endif %}> 
							<label style="display:inline" for="ban-board-{{ targetboard.uri }}">
								{{ config.board_abbreviation|sprintf(targetboard.uri) }} - {{ targetboard.title|e }}
							</label>
						</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
	</table>
	
	<ul style="padding:0;text-align:center;list-style:none">
		<li><input type="submit" value="{% trans 'Move thread' %}"></li>
	</ul>
</form>

