<form action="?/new_PM/{{ username|e }}" method="post">
	<input type="hidden" name="token" value="{{ token }}">
	<table>
		<tr>
			<th>To</th>
			{% if mod|hasPermission(config.mod.editusers) %}
				<td><a href="?/users/{{ id }}">{{ username|e }}</a></td>
			{% else %}
				<td>{{ username|e }}</td>
			{% endif %}
		</tr>
		<tr>
			<th>Message</th>
			<td><textarea name="message" rows="10" cols="40">{{ message }}</textarea></td>
		</tr>
	</table>

	<p style="text-align:center"><input type="submit" value="{% trans 'Send message' %}"></p>
</form>
