<script src="{{ config.additional_javascript_url }}js/mod/recent_posts.js"></script>
{% if not posts|count %}
	<p style="text-align:center" class="unimportant">({% trans 'There are no active posts.' %})</p>
{% else %}
	<h4>Viewing last {{ limit|e }} posts</h4>
	<p>View <a href="?/recent/25"> 25 </a>|<a href="?/recent/50"> 50 </a>|<a href="?/recent/100"> 100 </a></p>
	<a href="javascript:void(0)" id="erase-local-data" style="float:right; clear:both">Erase local data</a></div>
	{% for post in posts %}
		<div class="post-wrapper" data-board="{{ post.board }}"><hr/><a class="eita-link" id="eita-{{ post.board }}-{{ post.id or post.thread }}" href="?/{{ post.board }}/res/{{ post.id or post.thread }}.html#{{ post.id or post.thread }}">/{{ post.board }}/{{ post.id }}</a><br>
			{{ post.built }}
		</div>
	{% endfor %}
{% endif %}
<a href="/mod.php?/recent/{{ limit|e }}&amp;last={{ last_time|e }}">Next {{ limit }} posts</a>
