<form action="" method="post">
	<input type="hidden" name="token" value="{{ token }}">
	{% if not config %}
		<p style="text-align:center" class="unimportant">(No configuration required.)</p>
	{% else %}
		<table>
			{% for conf in theme.config %}
				<tr>
					<th>{{ conf.title }}</th>
					<td>
						{% if conf.type == 'checkbox' %}
							<input type="checkbox" name="{{ conf.name }}"
							{% if settings[conf.name] or (not settings[conf.name] is defined and conf.default) %}
								checked
							{% endif %}>
						{% else %}
							<input type="text" name="{{ conf.name }}" 
							{% if settings[conf.name] %}
								value="{{ settings[conf.name] }}"
							{% else %}
								{% if conf.default %}value="{{ conf.default }}"{% endif %}{% endif %}
							{% if conf.size %}
								size="{{ conf.size }}"
							{% endif %}>
						{% endif %}
					{% if conf.comment %}
						 <span class="unimportant">{{ conf.comment }}</span>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
	<p style="text-align:center">
		<input name="install" type="submit" value="{% trans 'Install theme' %}" />
	</p>
</form>
