{% filter remove_whitespace %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<script type='text/javascript'>
		var active_page = "irc";
	</script>
    <title>{{ settings.title }}</title>
	{% include 'header.html' %}
    <link rel="stylesheet" media="screen" href="/stylesheets/dark_irc.css"/>
</head>
  <body>
  	<div class="bar top">
		{{ boardlist.top }}
	</div>

    <header>
      <h1 class="glitch" data-text="{{ settings.title }}"> {{ settings.title }}</h1>
      <div class="subtitle">{{ settings.subtitle }}</div>
    </header>


    <div class="ban" style="text-align: left!important;">
        <h2>Web Client - Point your own clients to #{{ settings.channel }} on {{ settings.server }}:+{{ settings.port }} .</h2>		
        <iframe src="https://kiwiirc.com/nextclient/#irc://{{ settings.server }}:+{{ settings.port }}/#{{ settings.channel }}" width="800px" height="100%" scrolling="no"></iframe>
    </div>
	<div class="pages"></div>
	<script type="text/javascript">{% verbatim %}
		ready();
	{% endverbatim %}</script>
  </body>
</html>
{% endfilter %}
